[2018-09-24 08:19] martpie opened #1 "Next.js 7 / Webpack 4 compatibility"
This plugin oddly does not work with Next 7. I spent multiple hours trying to figure out what was going wrong without success.

Refs:

- Next 7 release: https://github.com/zeit/next.js/releases/tag/7.0.0
- Did rules include/exclude behavior change in Webpack 4? webpack/webpack#8077

I still do not know if the problem comes from Webpack or Next's custom Babel loaders.

Any hints/help would be highl

[2018-09-24 08:43] martpie opened #2 "Verify if webpackDevMiddleware is working fine"

[2018-09-24 08:48] martpie commented on #2
When updating a file watched with `transpileModules`:

<img width="722" alt="screen shot 2018-09-24 at 10 47 20" src="https://user-images.githubusercontent.com/1311607/45943610-4cb3c300-bfe7-11e8-8dc1-fc6ce7d1ae5a.png">

So there is a problem there

[2018-09-26 12:27] martpie commented on #1
Oh is it? I got errors when using it with Next's `withTypescript`.

I should write tests for both scenarios, it should not be too hard.

[2018-09-26 12:30] martpie commented on #1
![screen shot 2018-09-26 at 14 29 17](https://user-images.githubusercontent.com/1311607/46079845-9263bd80-c198-11e8-8d21-629e06acd021.png)

And I also saw this comment saying it was not working: https://github.com/zeit/next.js/pull/3732#issuecomment-423302026

[2018-09-27 05:13] alexanbj commented on #1
I don't think this has something to do with TS. I  don't use TS and it doesn't work for me either with Next 7.

[2018-09-27 07:29] martpie commented on #1
I don’t think the problem comes from Webpack but Babel... I will have to dive into Next’s build codebase.

If anyone has interesting inputs/advices... feel free! 😅

[2018-09-27 15:13] azizhk commented on #1
Ok I realized I need to wrap the externals with a `options.isServer` check like

https://github.com/zeit/next.js/blob/3a059688a8a0e10342ce697c89a7faebbeca9629/build/webpack.js#L31-L33

Creating PR.

[2018-09-27 16:17] azizhk commented on #1
[code]
So I think this might be the problem. My `dont_want_to_transpile` module which is a dependency of `want_to_transpile` module is being bundled by webpack. (Which it should not).

Now that `dont_want_to_transpile`is requiring `third_party` module which is not bundled (expected)
But it is expecting that `third_party` module be transpiled.

But at bundling time, it resolved to a non-transpiled

[2018-09-27 16:28] azizhk commented on #1
And as to why my build works when I comment externals code is because my `want_to_transpile` module also has es2015 code published in dist.

But for a module which does not publish es2015 code, commenting externals would not work. So my solution wont-fix.

[2018-09-27 16:29] martpie commented on #1
I faced some problems with node_modules regexs too. If I want to transpile `shared`, `node_modules/any-other-module/shared` will be transpiled.

I can replace that with custom functions instead of Regex. It should make the code more readable too. But I still get the transpilation problem.

[2018-09-28 16:51] morajabi commented on #1
I have the same issue, but for striping "flow" types in a monorepo:
[code]

[2018-09-29 14:58] morajabi commented on #1
Looks like it doesn't pick up the correct ".babelrc" because of a breaking change on how babel looks for config.

[2018-09-29 19:32] martpie commented on #1
@morajabi So are you saying this is a problem in the user's setup or Next's setup?

[2018-09-30 15:44] morajabi commented on #1
Not user setup most likely. I think we need to figure out a way to adopt to the new Babel behaviour.

[2018-09-30 21:41] azizhk commented on #1
Create react app version 2 is transpiling npm packages. We can learn from
there.

[2018-10-01 09:10] reicheltp commented on #1
It does not pick the `.babelrc`. As a temporary workaround you can add your babel presets / plugins like this:

[code]

[2018-10-01 12:44] martpie commented on #1
Similar to https://github.com/zeit/next.js/issues/5288

[2018-10-01 12:49] #2 closed

[2018-10-06 11:36] morajabi commented on #1
Thanks @reicheltp @martpie, the temporary workaround worked perfectly for me. (monorepo)

[2018-10-08 07:55] martpie commented on #1
Ok, after countrless hours reading changelogs and poorly documented Babel 7 changes, I managed to transpile a local symlinked package from `node_modules`. The secret is to declare a babel.config.js with some rules in it.

I do not like it because it is just rewriting config files that should be done by Next already, but waiting for a cleaner solution, I'll update the package and the documentation

[2018-10-08 08:00] martpie commented on #1
For those interested, the quick fix:

[code]

I am checking if I can do this automatically via the plugin.

[2018-11-16 13:55] Mtnt commented on #1
Any updates? I tried make a fix as shown at https://github.com/martpie/next-plugin-transpile-modules/issues/1#issuecomment-427749256, but still got an error:

I`m use `propTypes` from some child component to declare parent`s and got `Cannot read property '__propName__' of undefined`

[2018-11-16 14:06] martpie commented on #1
@Mtnt Do you have a piece of code to share so I can reproduce this error?

[2018-11-16 14:15] Mtnt commented on #1
@martpie

**It`s an assignment of props for npm module "@sample-ns/controlls"**
[code]

**next.config.js**
[code]
So, it`s transformed to
[code]

and fires an exception on `_Control$propTypes.type`

is it enough?

[2018-11-16 14:17] martpie commented on #1
Have you checked if it was working well with Next.js 6?

[2018-11-16 14:17] Mtnt commented on #1
yeah, it did

[2018-11-16 14:31] Mtnt commented on #1
@martpie wow, suddenly - it did not oO. I missed a commit that added some changes. Sorry...

However, there is still a problem... that prop types did not cropped. I created the 'type' variable only for omitting it in `Checkbox.propType` and expected that all code will be removed.
Any advice for fast fix?

[2018-11-19 15:19] KingScooty opened #4 "Hot module reload?"
Is there scope to have next refresh whenever a lerna linked package changes?

I'm currently using this to wire some React Components into my Next App. It'd be sweet if next updated when a change is made to one of the linked packages.

[2018-11-19 15:20] KingScooty commented on #4
Ignore me. I had my config setup a bit wrong. Seems to work out the box!

[2018-11-19 15:20] #4 closed

[2018-11-22 13:04] curran opened #5 "Watching?"
It would be awesome if changes made in transpiled packages were to cause the same automatic reloading as files changed within the `/pages` directory. It appears this case is considered in the plugin implementation, and has been iterated on in [recent changes](https://github.com/martpie/next-plugin-transpile-modules/commit/958472c0b9a4eb47599dfed4798bc1c05b74b072), but it is not working for me.

I

[2018-11-22 13:35] curran commented on #5
Also tested the official example, and can confirm that watching is not happening with that example also https://github.com/zeit/next.js/tree/canary/examples/with-yarn-workspaces

[2018-11-25 21:18] curran commented on #1
FWIW here's an example that shows transpiling _working_ with Next 7, but not _watching_.

https://github.com/curran/nextjs-esm-example/pull/4

Struggling to get watching to work.

Tracked as #5

[2018-11-26 02:30] martpie commented on #5
Out of curiosity, why using Lerna?

Also If you use yarn (without workspaces), this plugin won’t work because `yarn install` copy files instead of symlinking them.

[2018-11-26 02:34] martpie commented on #5
If what I said do not help, could you show me a repo where it is reproducible, so I can debug it?

[2018-11-26 14:55] martpie commented on #5
I am going to checks, maybe it is a bug with the plugin.

You can also have a look at what Lerna's creator told me a few months ago: https://github.com/lerna/lerna/issues/1243#issuecomment-401396850

[2018-11-27 09:34] curran commented on #5
Thanks for the thread link! It is very interesting. Perhaps Lerna is not the right choice for me after all.

The main reason actually I'm using it is to establish an explicit dependency graph between internal packages. Meaning, to make sure certain packages are isolated and do not import from certain others (following [Clean Architecture](https://blog.cleancoder.com/uncle-bob/2012/08/13/the-clean-

[2018-11-27 13:53] martpie commented on #5
Just tested it, everything is working fine :)

A problem with Node.js? I tested with Node v8.11.3.

![transp](https://user-images.githubusercontent.com/1311607/49086108-0a5f6a00-f254-11e8-86c3-2b3d64868298.gif)

[2018-11-28 16:41] zachariahtimothy commented on #5
@martpie thanks so much for sharing. I am following @curran 's esm example but I am using typescript. This plugin is re-transpiling as expected but I still have to manually restart the Next JS app (when changes are made to dependent lib). Any ideas on how to get next to restart automatically when a dependent TS/TSX file is changed? Thanks!

[2018-11-28 17:03] zachariahtimothy commented on #5
Thank you for sharing @martpie ! I am going to try this with Lerna and Yarn since Lerna uses symlinks. Would you like a PR if I get that working?

[2018-11-28 17:39] martpie commented on #5
As said earlier in this issue, [Lerna is not a tool to manage dependencies](https://github.com/martpie/next-plugin-transpile-modules/issues/5#issuecomment-441666854) between projects, but a tool to publish multiple packages to npm :)

This monorepo example I gave you is the fruit of countless hours to make this setup work simply and correctly (I went through the Lerna thing too, `next-plugin-trans

[2018-11-28 17:41] zachariahtimothy commented on #5
@martpie yes I forgot about that. There is so many people using lerna incorrectly that is gets confusing what it's true purpose. My attempts failed so guess it is back to NPM for me. Thanks again!

[2018-11-29 08:45] martpie commented on #5
Did you manage to fix this @curran? Can I close this?

[2018-12-03 00:06] KingScooty opened #7 ""You may need an appropriate loader?" error using next7"
So i'm not doing anything special. Have a few shared (via lerna/yarn workspaces monorepo structure) react components using styled components.

My `babel.config.js` file looks like this:

[code]

and my `next.config.js` file looks like:

[code]

Running `yarn dev` in my next project runs, but when i try and load the page, i get the following error:

[code]

Weirdly, if i comment out the entries ins

[2018-12-04 12:18] #5 closed

[2018-12-04 12:21] martpie commented on #7
Yarn is not supported because it copies dependencies instead of symlinking them. This is why hot-reloading is not working.

I will add a comment about that in the README because it is a common mistake.

Yarn workspaces work fine though.

I advice two things:

- Read https://github.com/martpie/next-plugin-transpile-modules/issues/5 : Lerna is not a tool to manage monorepos dependencies
- Check the

[2018-12-04 12:52] martpie commented on #7
I just added a FAQ to the README fyi.

[2018-12-04 15:39] KingScooty commented on #7
I am actually already using yarn workspaces though! Just lerna for versioning.

[2018-12-04 16:44] martpie commented on #7
Have you tried this? https://github.com/martpie/next-plugin-transpile-modules/blob/master/README.md#i-have-trouble-making-it-work-with-nextjs-7

[2018-12-05 20:53] KingScooty commented on #7
Yeah i've followed all the steps properly. I'm not sure what i've done wrong for a loader to be missing for JSX?

[2018-12-05 21:13] martpie commented on #7
You may need to adapt the `babel.config.js` to your needs though.

Can you provide an example/repo so I can reproduce your problem?

[2018-12-06 22:47] KingScooty commented on #5
I can replicate the issue using the next example (https://github.com/zeit/next.js/tree/canary/examples/with-yarn-workspaces).

The issues seem to have crept in in the canary releases of next.

Hot reloading is not working with the latest canaryt release of next (`next: ^7.0.2-canary.41`)

[2018-12-06 22:49] KingScooty commented on #7
It seemed to be an issue with one of the canary releases of next. I'm having to use canary releases due to the webpack upgrade that's included in them.

I can confirm this issue has gone away, but the hot reloading issue has come back. (`next: ^7.0.2-canary.41`)

[2018-12-06 22:49] #7 closed

[2018-12-06 23:52] martpie commented on #7
I’ll try to test this plugin with Canary to prevent a future incompatibility

[2018-12-07 14:49] zachariahtimothy commented on #5
All - FWIW, I ended up taking a different approach based on https://github.com/panter/next-workspaces. Both have pros and cons but I really struggled with the idea I would be banned form yarn. It may not be necessary these days but muscle memory and such ;).

[2019-01-25 13:02] tsirlucas commented on #1
Temporary solutions stoped working on most recent canary versions (even in 7.0.2 canary versions, but also in 8.0.0 most recent one)... For some reason if the transpiled dependency entry file imports some code from subfolders, we end up with a unstranspiled import on our app.

Instead of importing from `node_modules/dependency/components/ComponentA` we end up with `./components/ComponentA` and tha

[2019-01-25 13:22] martpie commented on #1
I did not play with Next 8 yet but I subscribed to the releases. I am going to investigate over the week-end where things fail.

[2019-01-25 13:28] martpie opened #8 "Next.js 8 compatibility"
I've heard reports that this plugin does not work with Next 8 (at the the time in canary version).

Need investigation.

Related: #1

[2019-01-25 14:01] tsirlucas commented on #1
Here is the repo with the `7.0.2-canary.31` version where we can already reproduce the import problems, so I guess the problem its between `7.0.2` and `7.0.2-canary.31`

https://github.com/tsirlucas/next-transpile-errors.

To reproduce the same thing in the `8.0.0` version you can just update it to `8.0.0-canary.13`.
Also, the commit adding serverless target its on `7.0.2-canary.50`, so I guess th

[2019-01-27 13:01] azizhk commented on #1
So I went through @tsirlucas project. I changed
https://github.com/martpie/next-plugin-transpile-modules/blob/c85c175d9fdf122fddddbaa9d8fc14ec6d4407b0/index.js#L30-L34
to
[code]
And got some things working. Though am just shooting in the dark here.

[2019-01-27 17:12] martpie commented on #1
Let's move the discussion about Next 8 in #8 ;)

[2019-01-27 22:07] martpie commented on #8
@azizhk @tsirlucas I just tested this plugin with canary-17 and had no problems, can you confirm?

[2019-01-27 22:16] martpie commented on #8
I did not test with https://github.com/tsirlucas/next-transpile-errors though, will try in a moment

[2019-01-28 10:22] istarkov commented on #8
For our codebase solution provided [here](https://github.com/martpie/next-plugin-transpile-modules/issues/1#issuecomment-457915921) works well (_next@8.0.0-canary.17_)
All import errors have gone.

[2019-01-28 10:31] martpie commented on #8
Great, thank you for the feedback, I will add this change to the plugin and draft a new release then.

Out of curiosity:

- Why use Next Canary?
- Can I know more about your setup? I could not reproduce this problem with my [usual monorepo setup](https://github.com/martpie/monorepo-typescript-next-the-sane-way)

[2019-01-28 10:42] istarkov commented on #8
We are using google cloud functions for nextjs apps hosting, and one issue is too long cold start time - near 6-8 sec with current nextjs version. Seems like a lot of loadable dependencies have gone from next@canary in release version, (no webpack etc) So I'm checking now cold start times improvements  _have no results yet, just started_

We are using yarn with `"workspaces"` and your plugin allow

[2019-01-28 10:55] martpie commented on #8
Thank you for the feedback!

[2019-01-28 12:53] martpie commented on #8
Can you confirm `1.1.0` solves the issue?

[2019-01-28 15:06] martpie commented on #8
I will let this issue open until Next.js 8 is officially released.

[2019-01-29 03:43] masad-frost opened #9 "Watching doesn't work on top level imports"
I understand that watching seems to work because it works in the sample repo linked here https://github.com/martpie/next-plugin-transpile-modules/issues/5#issuecomment-442516611

The thing is that if you import from a top level file in the package i.e. `/shared/index.js` watching doesn't work on that file. It's really odd, that is the case with yarn workspaces and file linking.

See https://github

[2019-01-29 04:37] masad-frost commented on #9
Not sure if what I'm doing is wrong but setting `resolve.symlinks` back to `true` seems to fix it.

[2019-01-29 06:07] martpie commented on #9
Interesting, I will try to reproduce it. Thank you for the report!

[2019-01-29 08:46] martpie commented on #9
I think the problem comes from your code in this module.

Hot reloading works well when having modules in this file:

[code]

`pages/index.tsx`
[code]

Hot reloading works well when doing `import shared from 'shared';` or `import shared from 'shared/index'`

[2019-01-29 08:51] martpie commented on #9
And here's a screencast:

![screen recording 2019-01-29 at 09 49 17](https://user-images.githubusercontent.com/1311607/51895842-69a03e80-23ab-11e9-8bff-54cb2faa9449.gif)

[2019-01-29 09:22] masad-frost commented on #9
Weird
![doesntwork](https://user-images.githubusercontent.com/1994028/51897585-ead3e300-2363-11e9-8ed4-d09af4b113cc.gif)

I'm not sure what I'm doing wrong. Also tried with yarn `file:` and yarn workspaces. `shared/utils` or anything that's nested in a subfolder is watched

[2019-01-29 09:23] masad-frost commented on #9
Sorry for the slow gif

[2019-01-29 09:57] martpie commented on #9
Could it be linked with Chakracore? Can you reproduce it with a classic Node.js setup?

[2019-01-29 10:24] masad-frost commented on #9
Ubuntu 18.04
node 9.11.1
npm 6.5.0

[2019-01-29 10:48] martpie commented on #9
Could reproduce it on Linux. Investigating.

[2019-01-29 10:58] martpie commented on #9
References:

- https://github.com/webpack/watchpack/issues/61
- https://github.com/webpack/webpack/issues/6845
- https://github.com/webpack/watchpack/issues/57

Can't do much for now, I'll check again why I enabled the `resolve.symlinks` rule, it seems to be working without, but I know I had trouble without it before.

[2019-01-29 11:43] martpie commented on #9
Yes please! I am investigating on my side as well, did not face any error so far, but I know I added it for a reason I can't remember ><

[2019-01-29 15:05] tsirlucas commented on #8
Hey @martpie, all import errors are gone now. Thanks for the quick fix and sorry for the delay to answer! The sample repo still have an error but I guess its related to babel/webpack an not to this plugin. Will try to fix everything and ping you if I notice that the problem its here.

[2019-01-29 16:31] martpie commented on #1
After talking to Next.js maintainers, it is actually not a bug, when you use plugins that use babel, like typescript or flow, you need to update your `.babelrc` accordingly as documented in the plugins. I will update the readme and close this issue.

[2019-01-29 16:31] #1 closed

[2019-01-29 16:32] martpie commented on #8
I guess we can close this then. Feel free to comment if you face additional problems.

[2019-01-30 09:48] aluminick opened #10 "Transpile not working on scoped packages"
This works
[code]
but this doesn't
[code]

[2019-01-30 09:55] martpie commented on #10
I see the issue, but could you explain a bit more in details how your project is setup and how you install your dependencies?

[2019-01-30 10:02] martpie commented on #10
Maybe I can explain more in details my concert: dependencies should not be monorepos (the philosophy is "1 package does 1 thing").

Eventually, each package of this monorepo should be **published separately** or **installed separately** in your Next.js package.json, but install a monorepo as a dependency definitely looks like a "setup smell" to me. ;)

[2019-01-30 10:20] aluminick commented on #10
@martpie I did not install the monorepo as dependency the package that I installed is @foo/bar.
I don't think transpiling the whole thing doesn't make sense since only a few packages requires transpiling. I think it's gonna use more computer resource than it should, I assume it's stored in memory.

[2019-01-30 10:59] martpie commented on #10
Ooooh sorry, I understand the problem, my bad!

I'll investigate!

[2019-01-30 11:52] martpie commented on #10
I cannot manage to reproduce it, scoped package works well on my setup, both for hot-reload and transpilation.

Can you still reproduce it with the latest version of the plugin? Also can you give me the name of the plugin you try to transpile (if not private), your OS, your npm version and your node version?

[2019-01-30 12:00] aluminick commented on #10
I'm currently using the latest version. I'm trying to transpile material-components-web, node v8.11.2, npm 6.4.1, OS ubuntu 16.04. Thank you for your quick reply.

[2019-01-30 12:03] martpie commented on #10
Can you provide a repository with a reproduction of this bug? It's a little bit of work but it would significantly help.

[2019-01-30 12:11] aluminick commented on #10
I'll create one. I'll just ping you later.

[2019-01-30 18:50] aluminick commented on #10
@martpie I get it to work. I just have to include the both the packages. The package to be transpiled and the one using it. Thanks

[2019-01-30 18:50] #10 closed

[2019-01-30 21:07] tsirlucas commented on #8
Hey @martpie, I tried to fix the errors but had no success. I'll give you some more intel:

Why use Next Canary?

I'm trying to deploy to now 2.0 with a serverless setup and the canary version added the `target: serverless` setup which should solve a bunch of problems. Plus, even if I'm using the 7.0.2 version I still face the same error (but only when deploying to now 2.0).

Can I know more about

[2019-02-01 09:40] azizhk commented on #8
Hi @martpie,
This might be because we are actually wrapping around next's external function and in case of serverless the external functions array is empty.

Relevant Next.js code:
https://github.com/zeit/next.js/blob/59280f7747b807fa9d1f5810e1d762d4f147124c/packages/next/build/webpack-config.js#L25-L31

Relevant next-plugin-transpile-modules code:
https://github.com/martpie/next-plugin-transpile-

[2019-02-04 12:17] martpie commented on #8
I am not sure to know what you mean @azizhk, would you mind submitting a PR? :) Then we can ask @tsirlucas to test the branch :)

[2019-02-04 12:20] azizhk commented on #8
Ok, I'll see if I can figure it out. I won't get some time to give a PR this week but will try by next week.

[2019-02-07 12:20] martpie opened #11 "Serverless support"
See a detailed explanation + repro here: https://github.com/martpie/next-plugin-transpile-modules/issues/8#issuecomment-459109258

[2019-02-07 12:20] martpie commented on #8
If this error is related to now 2.0, I am going to open a specific issue for it.

[2019-02-07 12:20] #8 closed

[2019-02-07 12:41] tsirlucas commented on #8
I think it is mostly related to serverless support than now 2. If you run the dev command with serverless target, the build will fail on the newer versions. Even locally.

[2019-02-08 21:55] gavinsharp opened #12 "conflict with next-compose-plugins"
Thanks for this plugin - solves a real problem for us!

I use `next-compose-plugins` in my `next.config.js`. My config before I started using this plugin looked like this:
[code]

Then I added this plugin, ending up with something like:
[code]

The config passed to `withPlugins` broke when I added `withTM`. It seems to be silently ignored.

Through a painful process of driving myself crazy debuggi

[2019-02-09 08:45] martpie commented on #12
From the doc:

With `withPlugins`, are plugins applied left-to-right or right-to-left?

[2019-02-09 13:38] gavinsharp commented on #12
I did notice that, and tried to put withTM at the other end of the array, but that seemed to break loading of the other plugins entirely (errors loading CSS), so I assumed it was the “wrong way”. I didn’t get a chance to dig too much deeper into that.

[2019-02-09 14:26] martpie commented on #12
Can you provide a repo with a reproduction of this problem? It will help me investigate where the problems are in the webpack configuration.

[2019-02-09 16:37] gavinsharp commented on #12
Sure, here you go: https://github.com/gavinsharp/nptm-bug

I tried to simplify it and remove unnecessary dependencies.

[2019-02-11 09:54] martpie commented on #11
Next.js 8 released. This becomes urgent.

[2019-02-11 15:22] oliviertassinari commented on #8
I had to apply [this change](https://github.com/martpie/next-plugin-transpile-modules/issues/1#issuecomment-457915921) to make Material-UI documentation works with Next.js v8. @istarkov Thank you for linking it! The [pull request](https://github.com/mui-org/material-ui/pull/14493).

[2019-02-11 16:48] martpie commented on #8
@oliviertassinari This change was released in `next-plugin-transpile-modules@1.1.0`, so you should not need to patch things yourself.

[2019-02-12 12:47] martpie opened #13 "Rename package to next-transpile-modules"
I would like to rename this package to something simpler, like `next-transpile-modules`

- `npm deprecate`
- publish this package with a new name
- rename the repo

I am willing to not do it if the community estimates there would be too much friction.

[2019-02-12 12:52] martpie commented on #12
@gavinsharp Thank you for the repro. I do not manage to get the same error than you, (I commented the `webpack` line).

Can you?

If yes, what is your operating system and node/npm versions?

[2019-02-12 12:55] martpie commented on #12
Well, this is interesting:

[code]

does nothing (it works), but

[code]

throws.

[2019-02-12 13:11] martpie commented on #12
Ok, I tried a more complete solution like yours:

[code]

I am running it with no problems: my `shared` package written in TypeScript is being transpiled correctly.

[2019-02-12 13:56] martpie opened #16 "Add end-to-end tests"
- [x] Unit tests for includes/excludes rules
- [x] ~Next.js 6 / 7 + local module~ will be deprecated
- [x] Next.js 8 + local module
- [x] Next.js 8 + npm module

[2019-02-12 14:58] martpie commented on #13
Boom. Done.

Hope it makes sense for everyone.

[2019-02-12 14:58] #13 closed

[2019-02-12 17:00] gavinsharp commented on #12
Which step were you trying? I tried to list all the steps and log output explicitly in the repo README:
https://github.com/gavinsharp/nptm-bug/blob/master/README.md

I am using node 8.12/npm 6.7.0 on Mac OS 10.14.

[2019-02-12 19:01] martpie commented on #12
I misunderstood your problem, I understand better now 😄

I'll investigate more tonight!

[2019-02-12 19:24] martpie commented on #12
I can reproduce the bug with other plugins like `with-typescript`, it may not be related to this plugin but to Next.js or `next-compose-plugins` directly.

Still investigating.

[2019-02-12 19:36] martpie commented on #12
@gavinsharp You are using the `next-compose-plugins` wrong: your `next.config.js` should look like:

[code]

From the docs: https://github.com/cyrilwanner/next-compose-plugins#extend-another-config-file

Please tell me if it fixed it for you ;)

[2019-02-12 19:36] #12 closed

[2019-02-13 14:16] ReggaePanda opened #18 "[nextjs 8] Packages are undefined"
With nextJS 7 it works fine, but with next's 8 my imports are undefined.
<details>
 <summary>next's.config.js</summary>

[code]

</details>

<details>
 <summary>package.json</summary>

[code]
</details>

---

example project branch: https://github.com/ReggaePanda/React-Native-Web-TypeScript-Prettier-Boilerplate/tree/core/nex-8.x

[2019-02-13 15:55] martpie commented on #18
This is my log when running your project:

[code]

I have some errors related to ENV variables not present, but I guess it's unrelated.

`yarn build` works fine too. I am not sure where the problem is.

[2019-02-13 16:15] martpie commented on #18
Here's my log when running `yarn dev`:

[code]

I do not see anything wrong here. `yarn build` runs without any problem (on the branch `core/nex-8.x`)

[2019-02-13 17:29] ReggaePanda commented on #18
sorry, my readme isn't complete.

but to see my issue you can do the following
first pull branch (I changed something)

[code]

then u can see in your console a console.log > `DEBUG next-transpile-modules { meQuery: undefined }`
https://github.com/ReggaePanda/React-Native-Web-TypeScript-Prettier-Boilerplate/blob/9404a157c553b7e11bbc7d2ae439bbc776407157/packages/web/pages/index.tsx#L18

the full re

[2019-02-13 19:09] martpie commented on #18
I am pretty sure the error is coming from your setup and not this plugin. Your imports are transformed into `require()` by TypeScript, and the packages seem to not be installed (cf screenshot), so the require returns `undefined`.

Did you also have a look at the FAQ? https://github.com/martpie/next-transpile-modules#i-have-trouble-making-it-work-with-lerna

<img width="363" alt="screen shot 2019-0

[2019-02-14 08:05] ReggaePanda commented on #18
@martpie thank you :smiley

I try to fix it with adding it to `nohoist` in package.json file. It was listed in the `packages/web/node_modules` directory , but this doesn't work.

finally I added `aliases` in the `next.config.js` and it works 🎉
Maybe worth an entry in the FAQ

[code]

[2019-02-14 09:25] martpie commented on #18
Mmmh, this is interesting. I don't understand how does Lerna/npm resolves those packages though:

[code]

Where are those files physically? I do not see them in `node_modules`, and I do not see any lock files that could indicate Node where to actually look for those files.

[2019-02-14 09:29] martpie commented on #18
Oh, I think I get it. Does Lerna install those packages "globally" in a place like the HOME fodler? And then `require.resolve` will by default look in this same directory unless the first parameter is a relative path?

https://nodejs.org/api/modules.html#modules_require_resolve_request_options

[2019-02-14 09:31] ReggaePanda commented on #18
physically the files are in the root `node_modules`.
the lock file is also in the root dir.

I am not sure how it works. 😇 but I think you are right.

[2019-02-14 09:41] martpie commented on #18
Looks quite similar:

https://github.com/lerna/lerna/issues/1049#issuecomment-335014011

This plugin actually works because our `includes`/`exludes` rules matches also `node_modules` in parent directories. Not sure if a bug or a feature though.

Let's leave things that way for now.

I'll add a section in the FAQ about this problem.

[2019-02-14 09:41] #18 closed

[2019-02-20 18:57] gavinsharp commented on #12
Sorry for the delayed response - I appreciate you spending time investigating this! I admit I'm still not really following why my first attempt didn't work, but that's probably a misuse/misunderstanding of `next-compose-plugins`, as you mention.

[2019-02-20 23:05] fillipvt opened #19 "Issue with babel when transpiling external component with react-spring"
Hello,

I'm not sure if this goes here but if doesn't let me know. I'm using a monorepo with `yarn workspaces` and `lerna`. The package `main` (next.js app `8.0.2-canary.3`) use the following dependecies.

I also have a [reproduction repo here](https://github.com/fillipvt/repro-error-1).

[code]

This is the current error log:

[code]

It mentions errors in babel and react-spring.

Is there someth

[2019-02-20 23:37] martpie commented on #19
I think you should have a look at the FAQ in the README ;)

[code]

here's what happen anyway when I try to `lerna:bootstrap`. I think you setup something wrong :)

[2019-02-21 00:21] fillipvt commented on #19
Thanks for answering @martpie

I removed `lerna`. I copy pasted from the original repo where I had the problem, but to showcase what's going on in here there's no need for `lerna`.

I've updated the repo and in the `README.md` described some quick steps to reproduce the error. If you could once again take a look I would highly appreciate it. Thank you.

[2019-02-21 00:23] fillipvt commented on #19
Quick note, when using `react-spring 7.2.10` everything works. I've also taken steps to report there but not sure if this also has anything to do with the transpilation with `next-transpile-modules`.

[2019-02-21 01:08] martpie commented on #19
Looking at the `react-spring` files, they do not seem transpiled to require/module.exports. Adding `react-spring` to the list of `transpileModules` seems to fix the issue, but it looks like an issue with the library itself.

[2019-02-21 01:11] martpie commented on #19
Found it. I think you'll need to import the `.cjs` files instead of the normal ones.

![capture](https://user-images.githubusercontent.com/1311607/53136108-0191e200-357e-11e9-9eed-d4dbed328635.PNG)

[2019-02-21 01:13] martpie commented on #19
More about this: https://github.com/react-spring/react-spring/issues/494

[2019-02-21 14:15] fillipvt commented on #19
@martpie thank you! Since this is unrelated to `next-transpile-modules` I'll be closing this issue.

Thanks for pointing me in the right direction. I was totally confused as to why `react-spring` suddenly stopped working.

[2019-02-21 14:15] #19 closed

[2019-02-21 17:27] TxHawks opened #20 "Modules not transpiled"
I am trying to transpile local packages in a monorepo that is managed by Lerna and Yarn workspaces.

The packages use Flow, so it's very easy to see that the code does not get transpiled, because it causes syntax errors. However, it seems that its not only the Flow preset that isn't being applied. Even if I point to a code where Flow annotations have been striped, but that was not transpiled down

[2019-02-22 09:18] martpie commented on #20
This is the log I get when running `yarn && yarn bootstrap`

[code]

[2019-02-22 19:02] TxHawks commented on #20
Yes, oops, sorry. I removed the build by mistake when creating the reproduction repository.

There are things there that are over complicated because before without transpiling packages, all internal packages had to be built before they could be used, so there is a `prepare` script there.

I think I have found the initial issue I had, and that was that I thought having `transpileModules: [ '@haare

[2019-02-22 21:42] TxHawks commented on #20
This is the offending bit in styled-jsx:
[code]

and if I change it to
[code]

Everything works fine. I don't really understand what could possibly be going on here, as, like I said, we don't even use style-jsx anywhere, and it doesn't happen when not using `next-transpile-modules`

[2019-02-23 02:07] sourcesoft opened #21 "Does not work with babel-plugin-module-resolver"
Hello :) I was trying to use this library with `next-redux-wrapper` since it exports ESM and Nextjs for some reason doesn't transpile it.
config (`react-spring` is working tho):
[code]
I'm importing it like this which should work
[code]

However I'm getting
[code]
Apparently `next-redux-wrapper` is using Lerna too, I'm not sure if it's related to this issue or not. However the way I see it I have

[2019-02-23 02:49] sourcesoft commented on #21
I removed the package from `transpileModules` array and instead added
[code]
to `next.config.js` and fixed the issue for me for transpiling.

[2019-02-26 22:41] chrisdrackett opened #22 "issue with typescript in transpileModules"
I've recently been migrating my app from flow to typescript. I'm running into an issue where it seems that the typescript in one of the packages in my mono repo isn't correctly stripped out. Here is an example repo:

https://github.com/tiltshift/monoWorkspaces/tree/typescript

The error I get is:

[code]

my understanding is this code should not even be there by the time next gets to running it.

[2019-02-26 22:59] chrisdrackett commented on #22
ok, update!

I got this working by moving from using a `.babelrc` to a `babel.config.js`. I wonder if this is worth noting in the docs?

https://github.com/tiltshift/monoWorkspaces/commit/d616778122ea9018d6289f618b9509a2234efbf0

[2019-02-27 00:59] heysailor commented on #8
I have it happily working in Next 8. It took some work to make `react-native-web` be happy though, as its use requires aliasing from `react-native` to `react-native-web`. Modules referenced from within `react-native-web` were unable to be found, despite the alias being made in the webpack output.

[2019-02-27 08:53] martpie commented on #22
Mmmh, maybe I should update the doc indeed. Babel configuration pickup is still a mystery to me.

I'll dive more in their docs.

Can it be closed then?

[2019-02-27 09:19] TxHawks commented on #22
As far as I understand it, the resolution of config files is that `babel.config.js`is considered a project-wide config-file, meaning it is based on the root dir of the project, and therefore, can also apply to files in `node_modules` or symlinked files.

`.babelrc` and `.babelrc.js` are loaded relative to the file being transpiled, with traversal up the tree, in a similar fashion to how node resol

[2019-02-27 10:18] martpie commented on #22
Yes and no. I am thinking about how I could write tests for this plugin (and they could be used as examples), but it's quite hard. I do not think we need pure example, because everyone is opening issues here with so many different setup that it is impossible to cover them all.

What I can do is update the FAQ though. And I could also add a couple of boilerplates / examples from the main Next.js pr

[2019-02-27 16:10] papermana opened #23 "Doesn't work for modules using `babel-plugin-module-resolver`"
I have two repos, both using `babel-plugin-module-resolver` for absolute paths in import, and one of them imports the other one. When trying to build the main app, I get a bunch of errors like:

What is curious here, is that it tries to resolve `src/apiRoutes` in our imported package to a location in the project that imports it.
[code]

Or, in other words, it uses my local Babel config when transp

[2019-02-27 17:12] chrisdrackett commented on #22
@martpie I think this can be closed, unless you want to keep it open as a reminder to add docs. I could take a crack as well, but I'd also need to understand the problem better. Thanks for the extra info @TxHawks!

[2019-02-28 09:11] martpie commented on #21
I think there is an issue with Babel's module resolve I need to investigate. You are not the first with a similar issue.

[2019-02-28 14:48] papermana commented on #23
This issue might be related to what [this comment](https://github.com/martpie/next-transpile-modules/issues/22#issuecomment-467786111) says. But when I checked `babel.config.js` to `.babelrc.js` in both repos, it seems that it still doesn't use the local Babel config. Now it just doesn't resolve aliases at all for the imported package.

[2019-02-28 14:53] TxHawks commented on #23
I think that's not how it works. To the best of my understanding, if you transpile packages, you need to provide all the Babel settings, plugins, presets, etc. that are needed to transpile you packages. I think that's just how Babel works.

[2019-02-28 22:04] NathanielHill commented on #9
I'm having similar issue on Ubuntu.

I'm using yarn workspaces with the packages in the root of the monorepo.

This is my only config: `transpileModules: ['@app']` and I'm importing from `@app/package`.

I have to restart next to see changes in my shared components.

[2019-02-28 22:30] martpie commented on #9
@NathanielHill Did you try to disable symlinks and see what happens?

[2019-02-28 22:56] NathanielHill commented on #9
I thought that was disabled by default :thinking:

https://github.com/martpie/next-transpile-modules/blob/ca563f4720db1e2e0818bb927f64e9f7bef3532c/index.js#L30

[2019-02-28 22:59] NathanielHill commented on #9
Just for the heck of this, I changed that to `true` and instantly ran into problems.

@martpie Am I not understanding what you're asking?

[2019-02-28 23:03] martpie commented on #9
thank you, this is what I meant :) I will investigate more on this issue this week-end. A guy from Webpack asked to provide a reproduction of this bug.

[2019-02-28 23:08] NathanielHill commented on #9
Well, it's pretty obvious why.

If I'm importing `'@app/components/foo'` and I turn `resolve.symlinks` to `true`...

Then it will (in my case) try to import `'../components/foo'` which it will find, but that path won't match the RegEx used by this plugin.

So it doesn't get passed through babel and fails due to syntax errors.

[2019-02-28 23:09] NathanielHill commented on #9
@martpie Do we know if this is working on other platforms (with symlinks = `false`)?

Sounds like maybe this is a webpack problem with linux file watching?

[2019-02-28 23:10] NathanielHill commented on #9
I have not gotten watching working for any shared code (outside my next dir).

[2019-03-01 20:19] martpie commented on #23
Let's close this in favor of #21 :)

I am in holidays but I will investigate this issue this week-end

[2019-03-01 20:19] #23 closed

[2019-03-01 20:28] martpie commented on #22
Does this make sense to you @chrisdrackett? https://github.com/martpie/next-transpile-modules/commit/3f7dad2ad40e489f6a6ec1ddb1537001672cdceb

[2019-03-01 20:28] #22 closed

[2019-03-01 20:29] martpie commented on #20
Sorry for the delay, I am in holidays and I was working on other open-source stuff. I will look at it this week-end :)

[2019-03-02 21:06] TxHawks commented on #20
It's all good. I'm patching styled-jsx with a postinstall script for the time being, so urgency is really down to a minimum. Also opened an issue in the style-jsx repo, but no response there as of yet

[2019-03-05 12:00] leops opened #25 "Scoped packages and Windows path separator"
When using this plugin with namespaced modules such as `@org/module` the `transpileModule` property need to be rewritten as `@org[\\\\/]module` in order to work consistently on all platforms since the path separator on Windows is `\` instead of `/`.

This solutions seems somewhat fragile to me as the fact that the module name gets internally used in a RegExp (this is the reason why all the `\` hav

[2019-03-05 12:40] martpie commented on #25
Are you saying you have to write that in `next.config.js`:

[code]
?

in order to transpile a scoped package on Windows?

[2019-03-05 12:48] martpie commented on #25
Those regexp make things really complicated. I think we can switch to something more dev friendly, like functions. I will have to check Webpack's dock

[2019-03-05 13:15] TxHawks commented on #25
I haven't done much on windows in a long while, but to the best of my knowledge it supports POSIX path separators since XP or Vista. If I'm correct, maybe there is not need to handle this at all.

[This stack overflow answer](https://stackoverflow.com/questions/8881806/file-separator-for-windows-and-unix) seem to support this, but since I'm not 100% on this, it would need to be checked.

If you wa

[2019-03-05 13:17] martpie commented on #25
Switching to globs is also a solution. I am currently investigating the different options

[2019-03-05 13:42] martpie commented on #25
This looks promising but I cannot yet manage to make it work with the `@org/pack` path http://www.globtester.com/#p=eJzLy09Jjc%2FNTynNSS3WV9QozkgsSk2pSczLL8lILdKFcDX1tbT0tQBZ0A8E&r=eJyVzE0OQDAQhuGriD1zgWrcREY7UZTKzHB%2BYil%2BYvOt3uczvt8yF1GkyidUF3I7J0%2FNlPwaSYAJnYKSaDmIgaO25oPUiTtY0I3P7CIkIJMHWdu%2F5CV%2FwTgnDcTF7cm5OzqKZH8%3D&

[2019-03-05 15:49] leops commented on #25
@TxHawks To be clear, the problem is not only to have "platform-insensitive" separators but also to escape them correctly for the internal RegExp created by this library (for instance on Windows `new RegExp(path.join('@types', 'node'))` will not match `@types\node` but `@types<line feed>ode` since the `\n` sequence gets parsed as a pseudo-class by the RegExp constructor)

[2019-03-05 15:55] TxHawks commented on #25
Oh.... now I get it. Thanks.

How about windows understanding POSIX paths?

[2019-03-05 16:01] leops commented on #25
Windows seems to understand POSIX paths without any kind of problem, at least I don't remember being particularly careful to path separators in my build scripts. But Webpack seems to do the matching of the RegExp specified in `config.module.rules.include` on the canonical path of the file being tested and not the POSIX one, so the file is a miss and doesn't get transpiled.

[2019-03-05 16:15] martpie commented on #25
I will try to reproduce the bug at home on my windows laptop. I am not sure if Webpack's watch options compare the Regex to a POSIX path or a Win32 path.

[2019-03-05 17:10] martpie commented on #25
@leops I cannot manage to reproduce the error, scoped packages are correctly transpiled on Win32. Can you provide a small repro and tell me your OS, your Next.js and your Node version?

[2019-03-05 19:49] martpie commented on #25
Fixed in `1.3.0` (Next 7), and `2.2.0` (Next 8)

[2019-03-05 19:49] #25 closed

[2019-03-06 18:47] iwarner commented on #9
I have the same issue on my Mac now - just seem to arrive recently when I upgraded nextJS also

[2019-03-06 18:54] martpie commented on #9
@iwarner I did not reproduce it on macOS, can you provide a repro?

[2019-03-06 18:56] iwarner commented on #9
Ok just tested some stuff:

NextJS 7.0.3
"@weco/next-plugin-transpile-modules": "^0.0.2",

-- This works √

Next 7.0.0 -> 7.0.3
next-transpile-modules - v1 + v2

This does not work unfortunately

[2019-03-06 18:57] martpie commented on #9
Yes, but hot reloading probably does not work. Can you provide a repro so I can try to fix it?

[2019-03-06 18:58] iwarner commented on #9
Sorry yes the hot reloading works with
NextJS 7.0.3
"@weco/next-plugin-transpile-modules": "^0.0.2",

-- This works √

[2019-03-06 21:33] wtgtybhertgeghgtwtg opened #27 "Consider allowing a regex to be passed instead of an array of package names."
So, in place of
[code]
the user could do
[code]
It'd decrease trouble getting the names of packages to be transpiled (wouldn't have to update `next.config.js` every time a new package from the monorepo is added or removed, wouldn't have to write a script to get the names to get around that) and end up creating a leaner regex (`includes` would just be `/^@org\/.+$/` instead of `[/@org/foo(?!.*node_

[2019-03-06 21:44] martpie commented on #27
You can just

[code]

[2019-03-06 21:49] wtgtybhertgeghgtwtg commented on #27
While that does work, I couldn't find it in the documentation and it felt more like a serendipitous bug than anything.  If it's intended behavior, I'll close and use that.  Thank you.

[2019-03-06 21:49] #27 closed

[2019-03-07 00:03] martpie commented on #27
Scoped packages are no diffferent than classic packages, they are just grouped into a single directory.

Regarding the "is it a bug or a feature?", some devs before reported that they just wanted to transpile specific scoped packages, so you know, I guess everyone has their usecase, preferences and setups.

[2019-03-19 05:23] alexkrautmann commented on #21
I think this works in your case because the `next-redux-wrapper` package is built to `lib`.

I am having a slightly different issue when trying to combine this with `babel-plugin-module-resolver` for use in a monorepo. The problem is that when you use `babel-plugin-module-resolver`, the module name this next plugin sees has already been transformed.

Notice here the app's babel config aliases mono

[2019-03-20 12:17] martpie commented on #21
@sourcesoft quick question: how can you know that the problem is coming from babel-plugin-resolver and not the next-redux-wrapper package

@alexkrautmann I am not understanding the problem, why do you make use of `babel-plugin-module-resolver` in your project? `@myapp` should be in your node_modules no? You do not need to alias it, you could just `import { something } from '@myapp/subpackage'`

[2019-03-20 12:19] martpie commented on #21
Just as a clarification, **`next-transpile-modules` only transpile code located in `node_modules`**. It does not transpile external code that is not in your node_modules.

This is why you have to use Yarn workspaces or npm symlinks to work with local packages.

[2019-03-20 21:20] alexkrautmann commented on #21
Thanks for the followup @martpie, hopefully I'm not just piling onto this issue with something unrelated. I also apologize for these lengthy replies, I find that monorepo setups like this involve a lot of tools and setup. I've actually come across [monorepo-typescript-next-the-sane-way](https://github.com/martpie/monorepo-typescript-next-the-sane-way) before, but I didn't realize you were the auth

[2019-03-21 15:42] martpie commented on #21
I think I understand your problem (tell me if I don't), and I can tell you over-engineered your solution :)

Let's take a step back.

We have two projects (I'm renaming them for the sake of understanding:

- `website`: a Next.js app
- `styleguide` a classic TS repo exposing some components (Buttons, ...)

Let's say [we configured Yarn workspaces correctly](https://github.com/zeit/next.js/tree/cana

[2019-03-22 01:21] alexkrautmann commented on #21
I actually started this repo from the `with-yarn-workspaces` example. Since I also want to publish the component packages, I had added package.json#main set to `dist/index.js`. This is where the problem was coming from. Without `babel-plugin-module-resolver`, web-app will point to bar's `dist/index.js` instead of `src/index.tsx` when it resolves the module via workspaces.

I came up with another w

[2019-04-01 08:07] imranweb opened #28 "Doesn't transpile flow typed"
It doesn't support the flow typed syntax like:
import type { Node } from 'react';

[2019-04-01 08:23] martpie commented on #28
Hello,

I will need a little bit more explanations than that, can you provide a reproduction or something?

[2019-04-01 08:30] imranweb commented on #28
I have mono repo setup:
-root:
 -- packages:
 --- app1
 --- app2
 --- shared

I am sharing "shared" package inside the "app1" as dependency.
like:
"dependencies": {
    "next": "^8.0.3",
    "next-transpile-modules": "^2.2.0",
    "react": "^16.8.4",
    "react-dom": "^16.8.4",
    **"shared": "file:../shared"**
  },

When I use the "shared/Button" component inside **app1**, it throws compilation

[2019-04-01 08:34] martpie commented on #28
I need to see your setup somehow, otherwise I can't reproduce, so I won't be able to help.

Can you provide a minimal reproduction of the problem? (on GitHub for example)

[2019-04-01 08:50] imranweb commented on #28
Github: https://github.com/imranweb/nextjs-monorepor
Steps:
- Go to/packages/shared and run **yarn install**
- Go to /packages/app1 and run **yarn install**
- Go to /packages/app1 and run **yarn dev**

You should see flow-typed syntax error.

[2019-04-01 09:17] martpie commented on #28
In `app1`, rename `.babelrc` to `babel.config.js`, then start again

https://github.com/martpie/next-transpile-modules#i-have-trouble-making-it-work-with-nextjs-7

[2019-04-01 21:27] martpie commented on #28
Did it work?

[2019-04-02 03:16] imranweb commented on #28
Thank you so much.
It worked well.

On Tue, Apr 2, 2019 at 2:57 AM Pierre de la Martinière <
notifications@github.com> wrote:

[2019-04-02 07:30] #28 closed

[2019-04-09 07:07] martpie commented on #21
I think that if you need to publish AND use a package, things will get tricky indeed.

The only easy workaround I see would be to `import stuff from 'youpackage/src/index.tsx'`, which is a little bit dirty.

Or you compile your TS library with `tsc --watch` when developing (without forgetting to generate definition files) 🤔

[2019-04-09 07:07] #21 closed

[2019-04-09 07:08] martpie commented on #20
Did you manage to make it all work @TxHawks ?

[2019-04-09 08:00] TxHawks commented on #20
Not really, but worked around it with a `postinstall` hook. Guess we can close

[2019-04-09 08:00] #20 closed

[2019-04-17 06:46] emirotin opened #29 "Broken with next 8.1.0"
- [x] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE

**Describe the bug**

[code]

**Setup**

 - Next.js version: 8.1.0
 - `next-transpile-modules` version: 2.2.0
 - Node.js version: 8
- Operating System: macOS/Linux

---

Also on a side note, there seems to be some activity in the upstream project, the master here is 8 commits

[2019-04-17 07:02] martpie commented on #29
Thank you for the report, I'll investigate :)

Regarding the 8 commits behind, it does not mean anything: all these commits are merges from this repo to the upstream + README adaptation ;)

[2019-04-17 07:14] martpie commented on #29
I can reproduce it, on it.

[2019-04-17 07:31] Yzrsah commented on #29
I just came here to report this. Thanks!

[2019-04-17 07:35] Yzrsah commented on #29
I just came here to report this. I thought it was going to be day of new errors, but with such expertise in the hands of martpie, I see there's nothing to worry about. Thanks!

[2019-04-25 11:19] jim-king-2000 opened #30 "Support mobx"
Got the following error since mobx is being used in the module. How to resolve it?

[code]

[2019-04-25 11:26] jim-king-2000 commented on #30
Resolved. Add babel config to the host project.

[2019-04-25 11:26] #30 closed

[2019-04-25 11:27] martpie commented on #30
Please use the default issue templates when creating issues. This looks like a `.babelrc`/`babel.config.js` problem, documented in the FAQ in the README.

[2019-04-25 14:53] jim-king-2000 opened #31 "Transpile modules not from node_modules"
**Is your feature request related to a problem? Please describe.**
Yes, it is related to a real problem. I'm building a test project for a ES6 module which uses Nextjs. So the ES6 module is imported by `import es6_module from '../../'`. However, it still needs to be transpiled although it is not in "node_modules".

**Describe the solution you'd like**
Transpile module from any path, `transpileModu

[2019-04-25 15:52] martpie commented on #31
This plugin aims to transpile only modules in `node_modules`.

If you have a local package that you need to transpile, I encourage you to `npm i ../../your-package` in your Next.js directory and then use `next-transpile-modules`. You can also use Yarn workspaces to solve this problem.

This is for best practices, your Next.js app should not have a dependency your package.json does't know aboutt.

[2019-04-25 15:53] martpie commented on #31
Some useful links:

- https://github.com/zeit/next.js/tree/canary/examples/with-yarn-workspaces
- https://github.com/martpie/monorepo-typescript-next-the-sane-way

[2019-04-25 15:53] #31 closed

[2019-04-25 16:04] jim-king-2000 commented on #31
I'll try `npm I ../../your-package` ASAP. Thanks.

[2019-04-29 06:37] jim-king-2000 commented on #31
I uses `npm i ../` and it works. Thank you, @martpie .

[2019-04-29 17:12] zimv opened #32 "suggestion"
hello~
Thanks for the plugin. I used to think that the `next-babel-loader` uses `exclude` to exclude `node_modules`. I did not know why the code in `node_modules` can't be imported until I saw the `webpack.externals` in your code. Now I think there's no need to push a new `defaultLoaders`, which is repetitive. You may want to delete it.
https://github.com/martpie/next-transpile-modules/blob/master

[2019-04-29 17:20] martpie commented on #32
Thanks for the suggestion, I may need to have a look into it indeed :)

[2019-04-30 10:28] zimv commented on #32
I'm so sorry. I have a different usage scenarios. I only want to exclude some package of  `node_modules` from `externals`.I don't need the `next-babel-loader`.You are right.

[2019-05-05 00:40] zimv commented on #32
hello~
I  new `defaultLoader`

[2019-05-05 00:40] #32 closed

[2019-05-07 05:06] imranweb opened #33 "Test cases not transpiling using Jest and Enzyme"
I have monorepo setup. Please check this thread
https://github.com/martpie/next-transpile-modules/issues/28#issuecomment-478483580

This is my package structure
- app
  -- components
  -- **babel.config.js**
  -- **next.config.js**
- server.js
- package.json
- config
  -- jest.config.js
  -- jest.setup.js

Please note babel.config.js and next.config.js are inside the /app directory.
It works well

[2019-05-07 06:15] martpie commented on #33
This goes a little bit beyond the scope of this package so I am going to close this.

I can give you a few hints though.

Having a look at your file structure, assuming `server.js` is just a classic Express serving Next.js, `babel.config.js` and `next.config.js` should then be at the root of your folder, and not in `app/`.

If you don't want to keep all the config files in the root folder (I think

[2019-05-07 06:15] #33 closed

[2019-05-07 20:21] otroboe commented on #9
@NathanielHill
Any news? I have a pretty similar issue.

I have a mono repo, and I'm doing a `yarn link` to a lib outside my monorepo. When I don't use this plugin, the watch is working, but when I use it, I need to restart the nexjs app.

[2019-05-07 21:40] martpie commented on #9
Hello guys, I have a lot on my plate right now, but I will try to work on it, it's a bit hard to debug as my development machine is a Mac, but I'll do my best. I have a couple of ideas I would like to try.

Having a reproduction repo would help a lot.

[2019-05-09 14:22] otroboe commented on #9
I have this issue at my job, and I don't have time right now to make a repo I'm sorry :-(
It's not blocking the team, and it's not a priority either, sadly.

[2019-05-12 14:51] lalicari opened #34 "Setup instructions for Create React App"
Does this work with Create React App Typescript? If so, are there extra instructions needed for setup? Sorry if this is not the right place to ask this, still a newb.

Stumbled here from [this](https://github.com/OfficeDev/office-ui-fabric-react/issues/5236) thread. App uses es6 modules and ts, but the problem is that my tests also written in ts which use ts-jest need to be transpiled to use es5 s

[2019-05-12 15:05] martpie commented on #34
This plugin is specifically for Next.js and has nothing to do with CRA.

For examples, see:

- https://github.com/zeit/next.js/tree/canary/examples/with-yarn-workspaces
- https://github.com/martpie/monorepo-typescript-next-the-sane-way

[2019-05-12 15:05] #34 closed

[2019-05-20 15:08] matteoferigo commented on #22
Thanks, I spent the whole noon to find the answer. Now this awesome plugin works again!!!

[2019-05-20 15:33] martpie commented on #22
The FAQ is quite complete now, don't hesitate to have a look at it ;)

[2019-05-27 14:56] isBatak opened #35 "Problem with transpiling react-use-gesture"
- [x] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE

**Describe the bug**
I'm trying to make [react-use-gesture](https://github.com/react-spring/react-use-gesture) package to work on IE11.
As it uses arrow functions (I opened an issue [here](https://github.com/react-spring/react-use-gesture/issues/60)) I'm trying to transpile ti

[2019-05-27 15:01] martpie commented on #35
Hello 👋 What version of npm do you use?

[2019-05-27 15:28] isBatak commented on #35
Hello 👋 :D,
I'm using yarn v1.13.0

[2019-05-27 16:36] martpie commented on #35
I'll try to have a look at it tomorrow evening, there's a lot on my plate right now :)

[2019-05-28 08:24] martpie commented on #35
Can I see the content of `./client/bootstrap.js`?

[2019-05-28 12:46] isBatak commented on #35
This si the content of `./client/bootstrap.js`
[code]

[2019-05-28 14:15] martpie commented on #35
So I've just tried the library on a personal setup. I works fine on my side. I am pretty sure your problem comes from your Babel config. Try with `babel.config.js` as said in the docs, and double check your polyfill configuration.

[2019-05-28 19:16] elliottsj opened #36 "ModuleNotFoundError using pnpm"
- [x] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE

**Describe the bug**
Using [pnpm](https://github.com/pnpm/pnpm)@3.4.1, this error is produced when using next-transpile-modules:

[code]

This happens due to the fact that pnpm relies on symbolic links inside of `node_modules`, and next-transpile-modules disables webpack's res

[2019-05-28 19:19] martpie commented on #36
I never used `pnpm`, maybe we can add an option to disable the symlinks, I'll have a look.

Can you tell me how to reproduce it easily?

[2019-05-28 19:38] elliottsj commented on #36
Sure, I've created a minimal repro here: https://github.com/elliottsj/next-transpile-modules-issue-36

[2019-05-29 07:23] isBatak commented on #35
The catch is that this lib works in a modern browser, out of the box, but it uses arrow functions that cannot be polyfilled, so I need to transpile them to support IE11.
I refactored [this example](https://codesandbox.io/s/nexttranspilemodulesissue35-ubsrt) to use `babel.config.js` but it doesn't help.

[2019-06-04 17:26] RafalFilipek commented on #9
Hi!

@martpie I think you can use official [with-yarn-workspaces](https://github.com/zeit/next.js/blob/canary/examples/with-yarn-workspaces) example from next.js repo. In this case `config.resolve.symlinks = true` solution works just fine.

Right now I have similar issue, but with TypeScript. If you're using `ts` / `tsx` files you can't use `config.resolve.symlinks = true` because you will get err

[2019-06-04 18:57] martpie commented on #9
this `config.resolve.symlinks` is apparently a problem for many. I will probably make it opt-out it a future release. Would that solve everyone's problem?

[2019-06-06 19:58] RafalFilipek commented on #9
Not sure if this is a 'solid' solution :) I think we need 3 repos:

 - js files
 - js & ts files
 - ts files

Each repo must be checked on MacOS / Windows / Linux with two configurations: `symlinks`: `true` / `false`.

Yesterday I checked the solution from the previous comment on Windows. It worked without a problem. But I'm not sure about this part:

[2019-06-06 20:53] martpie commented on #9
@RafalFilipek I think your problem is described by the FAQ: https://github.com/martpie/next-transpile-modules#i-have-trouble-with-transpilation-and-flowtypescript

[2019-06-07 09:23] RafalFilipek commented on #9
@martpie i have `babel.config.js` :) I'll make simple repo with example.

[2019-06-13 16:51] eps1lon opened #38 "landing and navigating to page work differently"
- [x] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE

**Describe the bug**
`next`:
When landing on a page that has a transpiled module various runtime errors occur. When I land on a page without a transpiled module and navigate to page with a transpiled module (e.g. via Link) everything works fine.

`next build`:
same error as wh

[2019-06-13 16:51] eps1lon opened #39 "landing and navigating to page work differently"
- [x] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE

**Describe the bug**
`next`:
When landing on a page that has a transpiled module various runtime errors occur. When I land on a page without a transpiled module and navigate to page with a transpiled module (e.g. via Link) everything works fine.

`next build`:
same error as wh

[2019-06-13 19:03] elmpp commented on #8
For anyone following the trails here and still having problems after @heysailor v.helpful post above - ensure the package being transpiled hasn't been hoisted by yarn if using a workspace. Add a `nohoist` rule as described [here](https://yarnpkg.com/blog/2018/02/15/nohoist/#how-to-use-it)

(also ensure you are using a `babel.config.js` file rather than `.babelrc` file as described [here](https://g

[2019-06-14 05:15] martpie commented on #39
#38

[2019-06-14 05:15] #39 closed

[2019-06-14 05:17] martpie commented on #38
Can you copy paste the error here? Without it I cannot really understand the problem.

[2019-06-14 05:31] eps1lon commented on #38
The error message isn't relevant here since it depends on the package that is transpiled. A crash happens with any transpiled module.

In this specific instance it is
[code]

but if I switch to e.g. `react-spring` I get
[code]

Have you cloned the repo and followed the steps? What step do you not understand?

[2019-06-14 18:15] otroboe commented on #9
Hello! I created a demo repository for my situation with yarn workspaces:
https://github.com/otroboe/next-transpile-modules-demo

Basically a "main app" with a shared lib. Not even a specific babel configuration. When I change the code in the lib, my app doesn't reload, I have to restart it to have the change.

I hope it can help you, and maybe other!

I'm on Ubuntu 18.04.

[2019-06-14 19:33] martpie commented on #38
Why are you trying to transpile `react-select`? It already provide CJS files (that looks like es3) 🤔

[2019-06-15 06:52] eps1lon commented on #38
You can insert any package here as I showed you. Transpiling isn't constrained to module build. Could be I need to transpile language features.

[2019-06-15 09:42] martpie commented on #38
The developer is responsible of transpiling the correct untranspiled packages he wants. This should remain exceptional and I only saw 2 good scenarios in one year of development with this plugin:

- `lodash-es`
- local packages (like a monorepo)

I am really not understanding the issue here.

[2019-06-15 09:45] martpie commented on #38
I will also add: this plugin make things "opt-in": the more modules you transpile, the longer it will take.

So there is no valid scenario of anyone wanting to re-transpile an already transpiled module (and anyway, the plugin cannot do it).

Unless I misunderstood something?

[2019-06-15 11:42] eps1lon commented on #38
This is actually what I'm doing. But since the error is the same (in nature) I reduced it to a more minimal example. I can point you to https://github.com/mui-org/material-ui/pull/16046 if you want to work on a complete example.

Also the heading of your readme reads

There's nothing indicating that this is only valid for monorepos.

What makes you say that? You don't think it's valid to transpile

[2019-06-15 13:54] martpie commented on #38
I think you misunderstood the purpose of this plugin

Just below the title:

---

now, back to your problem.

The problem here is not ES6 to ES3. The problem is the new import/exports notation to CommonJS.

`react-select` is already transpiled to ES3 + CommonJS, but Next.JS babel configuration transpile ES2017 import notation to CommonJS.

Therefore, Babel tries to compile something that is alread

[2019-06-15 14:04] martpie commented on #38
_edit:_ I'll dive more in details on this issue you're  facing:

[code]

`__chunk_1.isTouchCapable` is undefined because `__chunk1` is imported like a ES2017 module (because this is what Next.JS babel expect).

If you had a log at the correct location on the react-select CJS build, you'll see that `__chunk_1.default.isTouchCapable` is defined.

It is not the reponsibility of this plugin to achieve

[2019-06-15 14:18] eps1lon commented on #38
Yeah the title of the package is misleading which is very unfortunate. I don't understand why you would think transpiled code is something special. You actually can't know if something is transpiled or not. Maybe you're confusing this with the module system that is used. Would be nice if this vital information would be included in the readme e.g. "can't be used on commonJS modules".

Furthermore I

[2019-06-15 14:18] #38 closed

[2019-06-15 14:28] martpie commented on #38
I just edited my comment above with the underlying problem you're facing. I hope it will help.

But **it is said**, it is the essence of this plugin: it uses **Next.js Babel config** to transpile code from `node_modules`. In the same way, if you try to write CommonJS code in Next.js pages, **it will not work**:

[code]

will show:

![Annotation 2019-06-15 162614](https://user-images.githubusercont

[2019-06-15 20:10] eps1lon commented on #38
That is not valid commonjs modules you were using. You were mixing commonjs with es6 modules. If you use commonjs (require + module.exports) it works fine in nextjs.

[2019-06-17 09:35] martpie commented on #36
@elliottsj I have a question

We use `config.resolve.symlinks = false;` to avoid Webpack resolving symlinks to their realpath.

Here is an example of `node_modules` in one of my project:

[code]

The problem is if I `config.resolve.symlinks = true;`, Webpack will resolve symlinks to the relative path (`../../styleguide/components/Button` for example), and the file being out of the Next.js director

[2019-06-18 07:07] ikawka opened #40 "npmjs repo is not @2.3.1"
Hi, seems like npm repository is not updated?

[2019-06-18 07:40] martpie commented on #40
It is? https://www.npmjs.com/package/next-transpile-modules

[2019-06-18 07:41] martpie commented on #40
If you're talking about https://www.npmjs.com/package/next-plugin-transpile-modules, then just switch to `next-transpile-modules`, I renamed the module

[2019-06-18 07:42] ikawka commented on #40
oh... thanks!

[2019-06-18 07:48] #40 closed

[2019-06-19 18:53] elliottsj commented on #36
This is a good summary of how it works: https://pnpm.js.org/docs/en/symlinked-node-modules-structure.html

Given the `Module not found: Error: Can't resolve 'object-assign'` error above, this means that webpack is trying to resolve 'object-assign' relative to the directory `/Users/spencerelliott/Dev/path/to/repo/packages/login-web/node_modules/react-dom/cjs`.

However, this is the pnpm structure o

[2019-06-19 21:10] dnmahendra opened #41 "Attempted import error: 'createNamedContext' is not exported from 'consume-multiple-contexts'."
- [x] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE

**Describe the bug**
I am trying to use `consume-multiple-contexts` node package. This package has issues in IE 11, as it is in es6.

I am using `next-transpile-modules` to transpile it. Following is my config -

`babel.config.js`

[code]
`next.config.js`

[code]
**Setup**

-

[2019-06-19 21:34] martpie commented on #41
Do you have a small repro I could play with?

[2019-06-19 21:59] dnmahendra commented on #41
I will have to create one in codesandbox, but I am guessing this is the same problem with this issue as well - https://github.com/martpie/next-transpile-modules/issues/35. In general, any node module that uses es6 feature is broken in IE 11.

[2019-06-19 22:24] martpie commented on #41
Mmmh i see, how do you usually polyfill for IE11?

[2019-06-20 00:51] dnmahendra commented on #41
It's taking time for me to set up a Codesandbox so I have made a repo - https://github.com/dnmahendra/flash with the exact stage at which the project is. You can just clone and run `yarn install` and `yarn dev` to see the error. Regarding the IE11 thing nextjs claims to polyfill everything to support IE 11 but they don't transpile node modules. Which is where this library comes into the picture. I

[2019-06-20 04:39] dnmahendra commented on #41
I lifted these lines from your package and just updated my `next.conifg.js` webpack config and it works.
[code]

Maybe that gives you some idea of whats happening in the `next-transpile-modules` package.

[2019-06-20 07:32] martpie commented on #41
Awesome thanks ! I'll try to have a look asap

[2019-06-21 13:07] laidinidis opened #42 "Problem when transpiling emotion"
- [x] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE

**Describe the bug**
I use monorepo with yarn workspaces. I have a Next.js app witch uses emotion and works fine. I also have ui components in separate package witch also uses emotion and works fine (in storybook). The problem is when I import a component from ui to the app it

[2019-06-21 13:11] martpie commented on #42
I used emotion and the css prop on projects using `next-transpile-modules` without any troube.

My Next.js `babel.config.js`:

[code]

it should work fine.

[2019-06-21 13:12] martpie commented on #42
(if you can't manage to fix it, having a small repro would help debug this issue)

[2019-06-22 07:56] laidinidis commented on #42
OK I fixed it. I think it wasn't picking up the babel config. I have a client and a server folder (custom server) and the babel config was in the root of this project. I moved it to the client folder (next to next.config.js file) an now it works! Thank you!

[2019-06-22 07:56] #42 closed

[2019-06-22 12:14] martpie commented on #42
Happy you figured it out!

[2019-06-27 14:50] tsirlucas commented on #11
Update: Tried this again after some months and still having exactly the same problem with `next@8.1.0` and `next-transpile-modules@2.3.1`

[2019-07-01 01:18] brandontruong commented on #29
hi @martpie , can you please provide more instructions of how to fix it?
Thanks

[2019-07-08 08:07] martpie opened #43 "Next.js 9 compatibility"
- [x] Check that everything works
- [x] If not, fix it
- [x] Draft a new release

[2019-07-08 08:24] martpie commented on #43
Everything looks good :)

[2019-07-08 08:25] #43 closed

[2019-07-08 17:58] aralroca opened #44 "Compatibility with Next.js 9"
I'm using `next-transpile-modules` to transpile just one library:

[code]

This was working fine in Next.js 8. However, after migrate to Next.js 9 now I have some errors related with the imports of the `next-i18next` are `undefined` and crash all the app.

![image](https://user-images.githubusercontent.com/13313058/60809728-a149b880-a18b-11e9-9293-7f1a4d55505e.png)

If I replace ` transpileModules

[2019-07-08 19:39] martpie commented on #44
I did not experience any trouble with Next.js 9 on my setups.

It is not the first time I see the misconception to use this plugin as a IE11 polyfiller (it's not the case!).

How do you polyfill your app? core-js? babel-runtime?

[2019-07-08 20:07] aralroca commented on #44
@martpie I'm using core-js to pollyfill my app

**polyfills.js**

[code]
And this webpack config in my **next.config.js**:

[code]

My babel config is from `next/babel`

[code]

I'm sure that is not the best usage of this library. After hours fighting with IE11 problems caused only by the `next-i18next` package, this library helped me to workaround it... But I always feels that is not the best way

[2019-07-08 20:43] aralroca commented on #44
I created a repo that is reproducing the issue: https://github.com/aralroca/next-9-issue

To reproduce it

* Clone the repo
* `npm i && npm run dev`
* Open localhost:3000 in the browser

FAILS...

Ways to "fix it"

* Change in `next.config.js` the `transpileModules: ['next-i18next']` to `transpileModules: []`. Run again `npm run dev`. WORKS.
* Change Next.js version from 9, to 8. WORKS.

[2019-07-09 08:59] martpie commented on #44
Thank you, the repro will help a lot. I am currently overwhelmed, so I cannot promise when I'll have a look, but I'll do my best!

[2019-07-12 12:19] aralroca commented on #44
Ok 🙂Thank you so much. I confirm that the problem is still happening with  the latest next v9.0.1.

[2019-07-12 12:38] martpie commented on #44
Can you tell me exactly what ES feature is not working in IE11 with `next-i18next`?

[2019-07-12 13:14] martpie commented on #44
Okey, I did some tests, and tried to debug it, it does not seem it's because of `next-transpile-modules` but because of Next.js itself of `next-i18next` compilation not following the same targets as Next 9.

- https://github.com/isaachinman/next-i18next/issues/290
- https://github.com/zeit/next.js/issues/4572#issuecomment-395960145
- https://github.com/isaachinman/next-i18next/issues/107

I'll fol

[2019-07-12 13:16] martpie commented on #44
TL,DR: Next.js targets IE11, `next-i18next` as well (in theory), so transpiling `next-i18next` with `next-transpile-modules` seems like an overkill, and the problem comes probably from upstream.

I'll close this, if you have some disagreements or new information, I'll gladly re-open it.

[2019-07-12 13:16] #44 closed

[2019-07-13 14:41] martpie commented on #44
Next-i18next is now compatible with Next.js 9

[2019-07-14 16:18] martpie commented on #41
Looks really similar to https://github.com/babel/babel/issues/8361

Not sure I can do anything here.

[2019-07-18 08:25] martpie commented on #44
And here you are for the IE11 compatibility https://github.com/isaachinman/next-i18next/issues/290#issuecomment-512707239

[2019-07-23 15:44] chris-kahn opened #45 "Support for Next.js 9?"
Does this plugin work with Next.js 9, or if not, are you planning to update?

[2019-07-23 15:52] martpie commented on #45
There are two issues about Next.js 9 compatibility already.

TL,DR: yes this plugin is fully compatibly with Next.js 9. I'll update the readme.

[2019-07-23 15:52] #45 closed

[2019-08-01 19:13] PoffM opened #46 "Support the ".mjs" file extension"
**Is your feature request related to a problem? Please describe.**
A library I use provides a file with a ".mjs" extension, which is not transpiled by this library. Everything seems to work for me if I change the file matching regex from /\.+(js|jsx|ts|tsx)$/ to /\.+(mjs|js|jsx|ts|tsx)$/

**Describe the solution you'd like**
Add "mjs" to the list of matched file extensions.

**Describe alternative

[2019-08-01 19:25] martpie commented on #46
Quick question to understand the full scope of the issue: why is this package shipping `.mjs` and not CommonJS? Also, which package is it?

[2019-08-01 19:30] PoffM commented on #46
Hello, thanks for the help!

There are 2 packages: kitsu and kitsu-core from https://github.com/wopian/kitsu/

It seems to ship both js and mjs for both packages, but mjs is loaded by default. Though I'm not familiar with the difference between the two extensions.

[2019-08-01 21:48] PoffM commented on #46
For some reason this worked for me when running `next` but failed when I ran `next build`:
[code]

Gonna close this issue because I now have no reason to think my suggested code change would fix my problem. My next best idea is to copy kitsu's dist files into my source directory so Next.js can transpile them itself.

[2019-08-01 21:48] #46 closed

[2019-08-10 04:06] walleXD opened #48 "Debugging transpiled packages from node_modules"
Is it possible to debug the packages being transpile from node_modules. I'm using lerna for my monorepo and I'm importing code from my other packages. I haven't had much success trying to debug the transpiled node_modules in both chrome & vscode.

Any way to get around this?

Thanks a bunch!

[2019-08-10 08:34] martpie commented on #48
Hello 👋 I don't understand the problem you are trying to solve, what do you mean by "debug code from node modules"?

[2019-08-13 12:25] martpie commented on #48
poke poke? :)

[2019-08-16 08:42] martpie commented on #48
Can't really help without additional details, feel free to provide them and I'll re-open

[2019-08-16 08:42] #48 closed

[2019-08-29 14:02] cibulka opened #49 "Import errors at development (with `now dev`)"
- [x] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE

Are you trying to transpile a local package or an npm package?
===
Local package (as in made by me) - but as I got some `npm link` weirdness with `now dev`, I edit the code right inside `node_modules` folder and after I'm ready to commit a change, I paste the code to my proper

[2019-08-29 14:36] martpie commented on #49
Hi!

Instead of `npm link` or editing the files in `node_modules`, did you try a more convetional way?

- classic `npm install`: https://github.com/martpie/monorepo-typescript-next-the-sane-way
- yarn workspaces

[2019-08-29 14:56] cibulka commented on #49
Very quick response, thank you!

I did not know about the option to define a NPM dependency as a local file (`file:<path>`), so I will definitely use that (way less weird than `npm link`). Thanks!

Unfortunately it does not solve the problem with import errors I've described above at all. :( Do you have any idea what might be causing them?

[2019-08-29 15:15] cibulka commented on #49
`index.js:1 Warning: Text content did not match. Server: "Kontakt" Client: "contact"` - this warning would suggest that the weird behaviour sometimes happens in client only (not on server).

Context: Warning above complains about the part of code where I use I18n functions. If localization strings are present (meaning all imports work as expected), translated string appears ("Kontakt"). If not, ke

[2019-08-29 15:15] martpie commented on #49
I have never used `now dev`, I will investigate. Does it happen also in classic next dev mode `next dev`?

well you know, sometimes it takes 10 seconds, sometimes 2 weeks 😄

[2019-08-29 15:30] cibulka commented on #49
`next dev` and `now dev` seem to produce similar (and similarly inconsistent results). This also happens from time to time:

[code]

[2019-08-29 15:32] martpie commented on #49
Then it's good news, it's probably an issue with your setup or your consumed files. Would you be able to provide a small repro for me?

[2019-08-29 15:39] cibulka commented on #49
Honestly it's quite hard to reproduce the full situation to an abstract repo. Would you be ok if I gave you access to private repos concerned? Could i DM you somewhere?

[2019-08-29 15:46] martpie commented on #49
Sure, just send it to my mail address (cf. my profile)

[2019-09-06 22:03] Aleksion commented on #8
@elmpp but what I need to hoist the package? In order to not have version clashes between packages in the repo?

[2019-09-11 11:42] cibulka commented on #49
I think I found out my issue.

`data.js` ->
[code]

`component.js` ->
[code]

If I export the module at `data.js` as a function and call it in `component.js`, everything resolves as it should.

`data.js` ->
[code]

`component.js` ->
[code]

This is probably intended behaviour which I just missed. Thanks!

[2019-09-11 11:42] #49 closed

[2019-09-21 10:04] iwarner opened #50 "Transpiling local package that already has react in node modules"
- [X] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE

**Are you trying to transpile a local package or an npm package?**
Local

**Describe the bug**
- PackageB brought in via yarn link to PackageA
- transpileModules: ['PackageB'],
- PackageB already has node_modules including react
- Get error with new hooks Invalid hook call. Ho

[2019-09-22 10:58] graphan opened #51 "Important improvement for error messages"
**Is your feature request related to a problem? Please describe.**

Error messages from transpiled modules are not pointing to the file and line where an error occurs.

<img width="913" alt="Screenshot 2019-09-22 at 12 48 54" src="https://user-images.githubusercontent.com/22321063/65386177-4bbb8b80-dd38-11e9-86b0-5e277ba69c51.png">

**Describe the solution you'd like**

The same error messages lik

[2019-11-20 12:39] kachkaev opened #52 "Option currying for consistency with the official next plugins"
**Is your feature request related to a problem? Please describe.**

At the moment, the plugin expects Next.js config to contain `transpileModules` option. There seems to exist a tendency towards passing options via currying and thus avoiding the pollution of the Next.js config.

You can see this by comparing [`@zeit/next-bundle-analyzer`](https://github.com/zeit/next-plugins/blob/9ecca7b4925184648

[2019-11-21 10:38] TrejGun opened #53 "exported interfaces"
I'm not sure if it is bug report or feature request, so i want just ask

lets say my module is written in ts an has 2 files

file1.ts
[code]

file2.ts
[code]

so as you know babel does not emit types and no d.ts file would be created so IDummy would be just erased and file2 would die with error

[code]

how would you manage this situation?

Please do not suggest to not export types :)

[2019-11-21 10:50] martpie commented on #53
I had a similar problem a while back, but I don't have it anymore. I do not remember the exact solution, but this thread will probably help you :)

https://github.com/babel/babel/issues/8361

I think one of the key is to use `import * as` instead of named imports.

[2019-11-21 10:52] martpie commented on #52
Thank you very much for opening this issue, I'll investigate how Zeit manages to do it for its current plugins :)

I should definitely update the FAQ as well :)

[2019-11-21 13:26] kachkaev commented on #53
@TrejGun see https://github.com/zeit/next.js/issues/7882, the problem is not specific to this plugin 😉

[2019-11-21 13:33] martpie commented on #53
Thank you @kachkaev for reminding me the initial issue, I actually commented there and this solved it for me: https://github.com/zeit/next.js/issues/7882#issuecomment-510478723

[2019-11-21 13:33] #53 closed

[2019-11-21 14:13] TrejGun commented on #53
thanks guys

[2019-11-21 17:02] martpie commented on #52
This is actually a breaking change (just noticed). It is really odd I did not notice this syntax before.

v3.0 on its way.

[2019-11-21 17:13] kachkaev commented on #52
Yes, that's a breaking change indeed. Wondering if it's possible to gracefully fail with a reasonable explanation if devs still use the old function style. That'd be cool!

I think the preferred syntax changed just a few months ago, I remember getting a bit surprised seeing the new API of `@next/bundle-analyzer`. Makes more sense that the original flavour though!

[2019-11-22 10:07] martpie commented on #51
Are you talking about dev mode or production build? Do you have source maps enabled? I am not sure this plugin is exactly responsible of this behavior, but I can investigate a little bit.

[2019-11-22 10:10] martpie commented on #50
Hello, sorry for the late reply.

Are you saying

```config.resolve.alias['react'] = path.resolve(__dirname, '.', 'node_modules', 'react');```

is not solving this issue?

[2019-11-25 16:57] HosseinAgha commented on #50
@martpie this makes using this package with react hooks impossible. Here is a detailed explanation for this bug:
If I transpile a module that requires react internally, It will add that instance of react to the server bundle. In other words the `node_modules` directory of the transpiled modules is not added to webpack `externals` on server side.
This causes multiple instances of react to be loaded

[2019-11-25 20:04] HosseinAgha commented on #50
I investigated the code. I'm pretty sure everything is OK with your code as it will not remove react of transpiled module from externals. [This line](https://github.com/zeit/next.js/blob/332852bf0125a7c6ef0393fe21135353138653d6/packages/next/build/webpack-config.ts#L474) in the nextjs externals function creates this issue.
I've aliased react to project's react in webpack (the official nextjs recom

[2020-01-09 23:28] 06e387 opened #55 "parse5 "exports is not defined""
- [x] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE

**Are you trying to transpile a local package or an npm package?**
`parse5@latest`

**Describe the bug**
Something weird going on. Get the following error:

[code]

Which points to this in `html.js:3`:

[code]

**To Reproduce**
[code]

**Expected behavior**
Transpiles nicely l

[2020-01-10 14:55] Timer opened #56 "Built-In Next.js CSS Support"
**Is your feature request related to a problem? Please describe.**

It'd be nice if this package was updated for Next.js' new built-in CSS support.

**Describe the solution you'd like**

This plugin should enable the use of CSS Modules for a "transpiled module".

**Describe alternatives you've considered**

N/A

**Additional context**

This is a new feature of Next.js being released in a few days.

[2020-01-10 15:12] martpie commented on #56
hello there 👋 I knew a little bit about CSS support in Next.js (🎉), but I may be missing some information.

The thing would be that if an external package has some modules that import CSS files (like `const styles = require('./styles.css')`, it should be bundled too?

[2020-01-10 15:16] Timer commented on #56
From the Next.js Team's perspective, Global CSS (`styles.css`) should definitely not be bundled or supported, even if said package is marked to transpile.
This should strictly activate CSS Module support.

We could allow `styles.css` if the root isser came from `pages/_app.js`, but that's probably too tricky to be worth the trouble of implementing.

[2020-01-10 15:20] Timer commented on #56
See https://github.com/zeit/next.js/pull/10031 and https://github.com/zeit/next.js/pull/10032.

[2020-01-10 15:33] martpie commented on #56
Ohw ok, it's a bit different than what I thought.

- **CSS Imported by a Dependency**: this is clear, this won't work in "vanilla Next.js" but transpiled modules should be allowed to do it
- **Global CSS Must Be in Your Custom \<App\>**: this is less obvious, what does it mean from "transpiled modules"'s CSS? That the CSS will be processed through css-loader's `module` option? Won't it break the s

[2020-01-10 17:53] Izhaki opened #57 "Better mono repo support"
We are using this plugin on a monorepo, so `packages/a` can import from `packages/b` without having to build `b` every time a change is made.

One of the packages is called `core`.

# Issues we had

## Package name

When providing the package name:

[code]

That would also match `node_modules\core-js` and we'd get all sorts of (very odd) errors (Max Stack etc.).

## Full path

When providing full

[2020-01-10 18:11] martpie commented on #57
This package is perfectly suited for monorepos (though the `core` conflict may be a bug of `next-transpile-modules`, I need to investigate). I encourage you to have a look at the FAQ (I hope you see the warning on the issue template), there may be answers for you there (basically, npm local install and yarn workspaces works nice, but the use of lerna is discouraged).

[2020-01-10 18:13] martpie commented on #57
I'll add one thing: even though you have a monorepo, you _should_ (imho) still install your local modules in `node_modules`, as you may not deploy all applications on production.

[2020-01-10 18:14] martpie commented on #57
Bonus:

- https://github.com/zeit/next.js/issues/9295
- https://github.com/martpie/monorepo-typescript-next-the-sane-way

[2020-01-10 22:16] Timer commented on #56
Let me write the documentation for the new support, which should clarify a lot!

[2020-01-12 22:05] Izhaki commented on #57
@martpie I admit I have jumped to conclusions when I said this package "seems to be aimed at node_modules rather than monorepos". Sorry about this.

Let me just lay it out, so to help myself, yourself, and others to understand the greater context.

# Monorepo tutorials leave you wanting

First, there's lerna, which is a huge confound- at least if you use yarn workspaces, lerna is reserved for the

[2020-01-13 10:03] martpie commented on #57
Ohw that escalated quickly. Let's refocus a little bit 😄 (I have good intentions, I swear ✌️).

I will be investing the `core` matching conflict first. I also have a bunch of other issues to tackle, including one opened by the lead maintainer of Next for the future native CSS support of Next.js.

I will then work on the other important things for the v3.0 of this plugin (https://github.com/martpie

[2020-01-14 11:10] martpie commented on #57
Hi again @Izhaki,

I can confirm there is a conflict with `core` / `core-js`, I will fix this case and add a test for this scenario

[2020-01-15 22:59] #16 closed

[2020-01-15 23:47] martpie commented on #52
Fixed in cb86a25

will be released when the rest of the 3.0 milestone is done

[2020-01-15 23:47] #52 closed

[2020-01-15 23:49] martpie commented on #56
I added better unit tests and end-to-end tests, this should be much easier to implement now. Will have a look tomorrow :)

[2020-01-16 00:20] martpie commented on #56
[code]

[2020-01-16 01:21] martpie commented on #56
Added in https://github.com/martpie/next-transpile-modules/pull/58

The code is ugly, and I will need to be careful that there is no breaking changes in the Webpack config of future Next.js releases.

Maybe @Timer you can confirm me this is supported the way you wanted? I may have missed some edgecases.

[2020-01-16 09:16] martpie commented on #57
Hello 👋

The `core-js` conflict will be resolved in 3.0 (the PR is over there: #58).

Regarding the full path issue, it is likely to not even be working anymore on macOS (funnily enough, partly because of the fix for `core-js` conflict). I highly recommend you to link your modules, use Yarn workspaces, on `npm i` them :)

[2020-01-16 09:16] #57 closed

[2020-01-16 11:11] martpie commented on #50
FYI, in v3 (will be out in a few hours I hope), I fixed a potential issue where `next-transpile-modules` would transpile any modules in a transpiled module's `node_modules` folder. It might be related to your issue.

did you fix it btw?

[2020-01-20 12:10] martpie commented on #56
Ok, let's assume it is the correct implementation, if you see issues or unexpected results, please open a separate issue @Timer

[2020-01-20 12:10] #56 closed

[2020-01-21 08:34] TrySound opened #61 "Root modules are not transpiled"
**Are you trying to transpile a local package or an npm package?**

Local package

**Describe the bug**

My project structure

packages/package_name/package.json
project_name/package.json

Both package and project are included in workspaces.
Project uses package. Webpack see it linked to `../node_modules/package_name/package.json`

Here's what I see in logs

[code]

I edited node_modules to find a

[2020-01-21 09:50] onigoetz commented on #61
Can confirm,I have the same problem and the proposed solution does the trick.

Importing a package directly, without a sub-file doesn't work in V3

[2020-01-21 10:21] martpie commented on #61
Thanks for the report guys, I will try to reproduce it myself, but I may need your help to identify the exact issue by providing a reproduction.

What is more concerning is I probably wrote the end-to-end tests wrong, so I really need to identify what is wrong with them.

[2020-01-21 10:26] TrySound commented on #61
Tests are not wrong, just not full.
You can set `"main": "utils/calc.js"` here
https://github.com/martpie/next-transpile-modules/blob/master/src/__tests__/__apps__/_shared/package.json#L5
and add similar page but with `import { add } from 'shared';`
https://github.com/martpie/next-transpile-modules/blob/master/src/__tests__/__apps__/basic/pages/test-local-module.jsx

[2020-01-21 10:54] martpie commented on #61
Aaaaaah, got it! Thanks!

[2020-01-21 17:37] martpie commented on #61
A fix will be released tonight (Western Europe time), I need to finish an integration test and we're good. Sorry guys for the delay.

[2020-01-21 20:10] onigoetz commented on #61
No problem, I need it for work (west europe) but it can wait :) thanks for your time and work !

Téléchargez Outlook pour iOS<https://aka.ms/o0ukef>

________________________________
De : Pierre de la Martinière <notifications@github.com>
Envoyé : mardi, janvier 21, 2020 6:37 PM
À : martpie/next-transpile-modules
Cc : Stéphane Goetz; Comment
Objet : Re: [martpie/next-transpile-modules] Root module

[2020-01-21 21:05] martpie commented on #61
3.0.1 is out and fixing this issue :) thank you everyone!

[2020-01-21 21:05] #61 closed

[2020-01-21 21:08] TrySound commented on #61
Thanks!

[2020-01-22 12:26] martpie commented on #50
In theory, this sold be fixed in v3. A related upstream issue is here: https://github.com/zeit/next.js/issues/9022#issuecomment-575588856

[2020-01-22 12:26] #50 closed

[2020-01-22 12:26] martpie commented on #55
Can you tell me if this issue still happens in v3?

I'll also test on my end.

[2020-01-22 17:06] martpie commented on #51
Closing this for now. This is most probably an issue with Next.js anyway.

Feel free to provide more information so I can re-open it.

[2020-01-22 17:06] #51 closed

[2020-01-22 17:08] martpie commented on #41
The upstream bug from npm since to be resolved since 6.10.3.

Feel free to comment if this needs to be re-opened.

[2020-01-22 17:08] #41 closed

[2020-01-22 17:10] martpie commented on #35
Did you manage to solve your issue? Can I close this? :)

[2020-01-22 22:28] 06e387 commented on #55
Hi @martpie, thanks for taking the time!

Tried `next-transpile-modules@3.0.1`, but looks like it somehow ended up having the opposite effect: the only other module we were successfully transpiling before (`next-i18next`) is now failing with the original issue we were trying to fix:

which points to the rest/spread operator. I double checked by switching back to `next-transpile-modules@2.3.1` and

[2020-01-24 19:15] tingtingtinghuang opened #64 "Can I transpile all modules in node_modules?"
**Is your feature request related to a problem? Please describe.**
I am trying to transpile all modules used in my project include node_modules for some reason.

**Describe the solution you'd like**
something like:
[code]

**Additional context**
Nextjs dose not transpile modules in node_modules by default, but I hope my project doesn't depend on node_modules after build. Is there another way to re

[2020-01-24 20:48] martpie commented on #64
I strongly recommend to not do that, it would be terrible for build performances.

If you still want to do that (again, don't), you may be able to achieve it with `withTM = require('next-transpile-modules')(['(.*?)'])`.

Please be aware that it is not documented, I will not document it, and it may break in any version, including patches ;)

ps: really, don't.

[2020-01-24 20:48] #64 closed

[2020-01-24 20:49] martpie commented on #64
ps: I would still be interested by why you want to do that if you can share that.

[2020-01-24 21:50] TrySound commented on #64
By the way I found very useful the ability to transpile whole scope like `['@realdvisor']`. This way I can easily add new packages to monorepo and not edit next configs.

[2020-01-24 23:03] martpie commented on #64
Could you share usecases of why you would like your whole node_modules to go through Babel?

[2020-01-27 17:34] tingtingtinghuang commented on #64
Sorry for late reply. Thank you for your advices:)
I am aiming to support IE11, So trying to transpile node_modules. But now I need to think more carefully about it.
By now, I just add these code to let Webpack bundle node_modules.
[code]

[2020-01-27 17:45] martpie commented on #64
I’d recommend going through the `with-polyfills` example of Next.js rather than transpiling all modules, you’ll end up with a much saber build.

[2020-01-31 05:10] ramesh-yadav opened #65 "webpackbar not working"
webpackbar plugin is not working with this new approach.

const withTm = (transpileModules = []) => (nextConfig = {}) => {

compilation is working but bars are not working.

[2020-01-31 06:44] vimota opened #66 "Add support for SCSS modules (Next.js 9.2)"
Importing SCSS modules/files from a node_module (we have separate workspaces imported as modules) fails. NextJS has added built-in support for SCSS, like they have for CSS, but it doesn't allow for node_module imports: https://github.com/zeit/next.js/pull/10133/files#diff-0df73c8e15d5a4ab2409907c614af8ebR143 (an example of it's usage: https://github.com/zeit/next.js/pull/10321).

If I understand c

[2020-01-31 12:21] martpie commented on #65
how do you know it is related to this plugin? do you have a reproduction?

[2020-01-31 12:21] martpie commented on #66
I did not know SCSS was supported by Next.js, I will have a look and add support for it!

[2020-02-01 00:24] vimota commented on #66
Ah, that's awesome thank you!

I'll also try fixing it in the meantime but not sure how far I'll get.

[2020-02-02 00:15] martpie commented on #65
- https://github.com/zeit/next.js/issues/4016#issuecomment-471861486
- https://github.com/lucleray/next-progressbar is deprecated

Feel free to submit a fix if you'd like, but it's not something I will be spending time on :)

[2020-02-02 00:15] #65 closed

[2020-02-03 08:47] bySabi opened #67 "TypeError using transpileModules option"
When I use the `transpileModules`  option it returns the error:

[code]

This is the not working `next.config.js`  file:
[code]

But it's working this way ...
[code]

And this is a minimal repo: https://github.com/bySabi/mono-next with:
 -    "next": "^9.2.1",
 -   "next-transpile-modules": "^3.0.2",

[2020-02-03 08:54] TrySound commented on #67
@bySabi This is expected. It was the point of major release.
https://github.com/martpie/next-transpile-modules/releases/tag/3.0.0

[2020-02-03 08:56] bySabi commented on #67
Ah .. ok ... I had not seen that.
Thanks.

[2020-02-03 08:56] #67 closed

[2020-02-03 08:59] bySabi commented on #67
@TrySound  this is my first time with `next-transpile-modules`. Is it supposed to work in a local typecript module? My minimal repo is not working: https://github.com/bySabi/mono-next

[2020-02-03 09:03] TrySound commented on #67
[code]

[2020-02-03 09:04] martpie commented on #67
It is a good habit to always read the changelog when you see a major version change in one of your packages :) usually, major implies breaking changes.

Yes it is, you can see an example here -> https://github.com/martpie/next-transpile-modules/tree/master/src/__tests__/__apps__

[2020-02-03 09:14] bySabi commented on #67
Thanks @martpie for answer.
I never use `next-transpile-modules` before  and I have not found a complete example that includes the last `next` and `next-transpile-modules` along with local typescript modules.
I will check provided __apps__ test.

Thanks @TrySound, now is working.

[2020-02-03 16:55] martpie commented on #66
May I ask how urgent is this? I have some things on my plate right now, and this is still an experimental feature, it means the plugin could work at any canary/stable release until it is not experimental anymore.

[2020-02-03 20:16] vimota commented on #66
No worries, not urgent at all. Thanks for looking into it!

Em seg, 3 de fev de 2020 às 8:55 AM, Pierre de la Martinière <
notifications@github.com> escreveu:

--
Victor Mota
(206) 778-9060

[2020-02-04 22:31] nbamfordcirium opened #68 "Can't import enum from index.d.ts in node_modules"
- [x] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE

**Are you trying to transpile a local package or an npm package?**
npm package
If an npm package, which one?
@nivo/bar
**Describe the bug**
I'm importing an enum from @nivo/bar/index.d.ts,
`import { ResponsiveBar, BarLayerType} from "@nivo/bar";`

Later, I use it:
`<Responsive

[2020-02-05 04:58] ramesh-yadav commented on #65
because your ^2.0.0 version is working fine

[2020-02-05 05:56] martpie commented on #65
My point is a lot of changes were made between 2.x and 3.x, so the plugin instantiation *might* have nothing to do with this.

Following the two links above, I do not intend to fix this, as Webpackbar will slow your build and is unrecommended by Next.js maintainers.

If you manage to identify the exact issue, feel free to open a PR :)

[2020-02-05 05:59] martpie commented on #68
That is an interesting case. I need to do some research, about exposing Enums in definition files, I’ve never seen this pattern before.

Did you try to use just a string instead?

[2020-02-05 17:44] nbamfordcirium commented on #68
I did that to workaround the issue, although that makes VSCode (probably the tslint plugin) report an error because it doesn't see `string` as the correct type for the function signature, which wants that `BarLayerType`.
So I have to do it like `layers={["axes" as any]}`

Which is fine, it works, I would just like the type safety of using an enum for the usual reason-- if I accidentally type "axes

[2020-02-05 17:50] martpie commented on #68
I find weird that the library expect an enum for this props instead of a string.

I’d be tempted to say it is a problem of the library, but I will need to investigate this usecase, I may perfectly wrong.

[2020-02-05 17:51] martpie commented on #68
(I also completely get the type safety argument, I’m a TS fanboy as well)

[2020-02-05 19:03] nbamfordcirium commented on #68
Thanks for the response! I understand if it's just not possible, just thought I would make sure.

The library itself will take a string for that prop like I ended up using, but I think VSCode picks up the function signature out of the `index.d.ts` file and that typed signature uses the `BarLayerType` enum, so it complains and I have to use `as any`.

[2020-02-05 21:04] martpie commented on #68
Does the build (TS compilation) fails as well?

[2020-02-05 22:21] nbamfordcirium commented on #68
It does, in the same way:

[code]

[2020-02-26 04:51] fatlinesofcode opened #70 "imported styled-jsx not working for SSR"
Hi,
I've just updated to next 9.2 and v3 of the plugin.

I'm using a yarn-workspaces structure and I've noticed if I import a component with styled-jsx, the styles are not injected in the ssr. Client-side render works fine. Here's example :

/site/TestPage.js

[code]

/shared/TestStyle.js
[code]

next.config.js
[code]
babel.config.js
[code]

SSR result
![Screen Shot 2020-02-26 at 3 48 15 pm](https

[2020-02-26 08:37] martpie commented on #70
Thanks for the report, can you confirm if it was introduced by the Next.js or ‘next-transpile-modules‘ update? (‘next-transpile-modules‘ v2 should also work with 9.2 if you don't use the CSS features that shipped with it)

[2020-02-26 08:55] martpie commented on #70
Btw, I am pretty sure your `babel.config.js` is useless and you can delete it safely :)

But this is probably another issue

[2020-02-26 08:59] martpie commented on #68
The import/export type feature of TS 3.8 may be able to help with this issue

[2020-02-26 10:29] fatlinesofcode commented on #70
hi @martpie thanks for the reply. You can ignore this, i got it working now. I deleted yarn.lock all node_modules and run upgrade-interactive again. Everything seems to working fine now.

[2020-02-26 10:29] #70 closed

[2020-02-26 10:42] martpie commented on #70
Nuking `node_modules` + lock file is the new "have you tried to turn it off and on again"

[2020-02-28 10:52] cedric-marcone opened #71 "CSS modules transpilation fails when @zeit/next-sass is activated"
- [x] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE

**Are you trying to transpile a local package or an npm package?**
I'm trying to transpile a local package

**Describe the bug**
Since v3 used with nextjs 9.2 we can transpile css modules and it works great !

But, just by adding `@zeit/next-sass` to `next-config.js` it breaks

[2020-02-28 10:57] martpie commented on #71
What happens if you `withSass(withTM());`?

btw, native Sass support will ship soon in Next.js ;)

[2020-02-28 11:00] martpie commented on #71
Just to understand your setup: you have Sass files in your Next.js app and you have `module.css` in your shared package, right?

[2020-02-28 11:12] cedric-marcone commented on #71
Hey !
Thanks for your reply.
=> I tried with `withTM(withSass())` and it fails with the same error :)

Your are right about our setup. It's a monorepo with :
- libs containing components
- some widgets (CRA based) consuming those libs
- a site (next.js based) consuming those libs.

Components in the libs are currently using styled-jsx and I want to move them to css modules to reduce bundles sizes.

[2020-02-28 14:54] martpie commented on #71
The problem comes most probably from the fact both plugins may be editing the same Webpack rules.

I will try to analyze the current `@zeit/next-sass` module, but if tomorrow the native support for Sass is out, I will prioritize the support of the latter. Hope it's fine for you.

[2020-02-28 15:12] cedric-marcone commented on #71
Merci Pierre !
Understood and fine with me :)
I saw https://github.com/zeit/next.js/pull/10133 and I'll do my homework.
=> I'll try again with next v9.2.3-canary.17 and
[code]
I'll keep you posted

[2020-02-28 15:15] martpie commented on #71
awesome!

[2020-02-28 15:19] cedric-marcone commented on #71
Just did it in the repro repo : https://github.com/cedric-marcone/repro-tm-sass
=> It works perfectly !!
Thanks for your insight
A+

[2020-02-28 15:20] martpie commented on #71
Can I close this then? :)

[2020-02-28 15:38] cedric-marcone commented on #71
I won't deploy anything relying on canary to production but, as we work on next gen e-commerce platform for ESF (écoles du ski français) , we won't need to until the end of the summer 😄so, it's pretty cool !
I close, thanks for your help :)

[2020-02-28 15:38] #71 closed

[2020-02-28 15:48] martpie commented on #71
Cocorico!

[2020-03-05 18:37] ScriptedAlchemy opened #72 "Willing to accept a PR for Webpack 5"
**Is your feature request related to a problem? Please describe.**
Webpack 5 changed its loader issuer context and schema. Thus this plugin will not work

**Describe the solution you'd like**
Id like to upgrade the API to work with Webpack 5, of which I am a core contributor and actively been working on Webpack 5's core

**Describe alternatives you've considered**
Forking and distributing this pro

[2020-03-06 06:46] ScriptedAlchemy commented on #72
I’m one of the webpack core  maintainers. So I know it’s release date. I’ve also already upgraded next to v5 in prep. I do understand keeping with next versions and understand where you are coming from.

With that said, if I were doing most of the work and made it backwards compatible, would you work with me? I’d prefer not to fork and distribute another version.

I’m using next with w5 to take ad

[2020-03-06 08:49] martpie commented on #72
I need a bit more context before being able to give an answer :)

Are you saying the official Next.js Canary is using Webpack v5? Or a custom branch under `zeit/next.js`? Where can I see the `next` package in action with Webpack 5?

I am totally willing to add support for Webpack v5 (under a flag most probably), but I just need a bit more information on your usecase, as I am watching Next.js relea

[2020-03-06 08:50] martpie commented on #72
ps: I am always open to PRs for all my packages/open-source projects ;)

[2020-03-06 09:28] ScriptedAlchemy commented on #72
I upgraded it on a fork before approaching them. I’m now discussing refining and opening the pull request with experimental flags. Seeing as most of it is done.

So it’s not official yet, but I did do it on my own and likely will get it open to next.js in the news week or so depending on some refinements and extra checks

[2020-03-06 09:32] ScriptedAlchemy commented on #72
This is still a little rough. But it’s working, your plug is been tricky - tests pass but when I try it in yarn workspaces it fails and whines about missing loader. So I know something is a little borked. https://github.com/module-federation

[2020-03-06 09:37] martpie commented on #72
Yarn is a bit tricky indeed, I should create integration tests for it.

[2020-03-10 13:57] martpie opened #73 "Next.js 9.3 compatibility"
- [x] Check that nothing broke
- [x] Add Sass Support #66

[2020-03-10 15:59] martpie commented on #73
Done in 3.1.0

[2020-03-10 15:59] #73 closed

[2020-03-10 15:59] martpie commented on #66
Done in `3.1.0`

[2020-03-10 15:59] #66 closed

[2020-03-11 19:36] milesrichardson commented on #9
This is still a problem for me, but only for files in the top level of the package, as others have mentioned.

[2020-03-11 20:04] martpie commented on #9
I will try to jump again on the problem and see if it's fixable or if we need to wait for Webpack 5

[2020-03-12 03:56] milesrichardson commented on #9
It's a really weird bug, but personally it's not too big a of a problem, because I can just put the code in a `dist/` or `src/` folder or whatever.

I'm not sure the root cause. The regex looks okay to me (tested it on regex101.com with some inputs) but I'm not super familiar with how webpack regex matching works. The fact that the top-level is missing makes me think something is "eating" it, whic

[2020-03-20 16:26] goszczynskip opened #75 "Pnp workspaces aren't transpiled (yarn berry)"
- [x] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE

**Are you trying to transpile a local package or an npm package?**
Local package

**Describe the bug**
I'm trying to make transpilation work with yarn berry. I have multiple workspaces in my repo and listing them as an configuration parameter doesn't trigger transpilation.

My

[2020-03-20 16:31] martpie commented on #75
Hello 👋

Can you provide one? I don't have experience with pnp.

[2020-03-20 18:13] goszczynskip commented on #75
Sure. I've created one. Follow readme to get the error. https://github.com/goszczynskip/next-transpile-modules-bug-75

It looks that yarn changes package paths underneath to local ones.

I've tried to add all workspaces as aliases in webpack config but this forces me to include them in package.json of _application_. I'd rather avoid it because it pollutes package.json's dependencies.

[2020-03-23 15:41] Sangdt commented on #55
Same issue when having the use-global-hook package in the config. The `export default useStore` statement breaks the builds but with next-transpile-modules@2.3.1 work fine.

[2020-03-23 15:47] martpie commented on #55
Can you share a reproduction? It would help to identify the root of the problem

[2020-03-28 20:02] canrozanes opened #77 "Fetch-Mock transpilation doesn't work for IE 11 for ^v3.1.0"
- [x] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE

**Are you trying to transpile a local package or an npm package?**
Fetch-Mock for IE 11

**Describe the bug**
I recently upgraded next-transpile-modules from v2.3.1 to 3.1.0.
As soon as I upgraded my project started to fail in IE-11 due to fetch-mock.

I know the docs specific

[2020-03-29 08:42] arnaudpeich opened #78 "Unable to load font files"
- [x] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE

**Are you trying to transpile a local package or an npm package?**
A local package

**Describe the bug**
When a SCSS file defines a font-face and loads a font file, that font is not correctly loaded.

**To Reproduce**

In `_app.tsx`:
[code]

In `reset.scss`:
[code]

In `next.c

[2020-03-29 09:34] martpie commented on #78
Indeed, fonts are not supported, I have to check if they are supported by Next.js, if yes, it should be trivial to add support for them.

[2020-03-29 09:50] arnaudpeich commented on #78
I just tried it and it seems like Next.js doesn't support it, even with the `next-fonts` plugin.

I did the test with exactly the same setup as above, but I moved the files inside the app and changed the import to `../stylesheets/reset.scss`: same error as before.

Seems to me it is not for this plugin to fix, so I'm closing this issue and I'll open one on the Next.js repo directly.

[2020-03-29 10:04] arnaudpeich commented on #78
Oh wait, it _does_ work when I disable the `next-fonts` plugin.

[2020-03-29 10:05] arnaudpeich commented on #78
And it works too when I load the font from my module... I reopened this too quickly, my bad.

So in conclusion everything works as one could dream without using next-scss or next-fonts! Great job on this plugin :)

[2020-03-29 10:05] #78 closed

[2020-04-02 15:20] martpie commented on #35
Closing for inactivity.

[2020-04-02 15:20] #35 closed

[2020-04-02 15:30] martpie commented on #77
I will try to see what is wrong with the repro :)

Out of curiosity, why do you need fetch-mock in the browser? Isn't this something only used by Node when running tests?

[2020-04-02 17:09] canrozanes commented on #77
We use fetch-mock on the browser if we are building a feature that requires both front end and back end work and the back end work for the feature isn't ready yet. In that case, front end developers mock the API responses using fetch-mock and develop the feature as if they are working with a fully functional API.

[2020-04-16 06:50] stephane-r opened #80 "Monorepo external dependencies error"
- [x] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE

**Are you trying to transpile a local package or an npm package?**
npm package on yarn workspaces

**Describe the bug**
Hello everybody !

I try to change simple CRA app to Next.JS app using monorepo with yarn workspaces. I my repo, i use `react-native-web` with other library

[2020-04-16 23:58] ScriptedAlchemy commented on #72
Zeit has started merging my PRs in so Webpack 5 will be compatible with it soon. You use a yarn resolution and install WP5 then next uses other hooks

[2020-04-17 00:16] martpie commented on #72
I saw the PR for Webpack 5 indeed. I'll wait for a stable release before working actively on it. No need to waste efforts as long as it's not used by upstream.

[2020-04-17 02:28] ScriptedAlchemy commented on #72
It’s in upstream - they merged in the first stages. It’s actively being worked on internally

![image](https://user-images.githubusercontent.com/25274700/79525667-50b79380-8018-11ea-90d0-257c836e8f9e.jpeg)

[2020-04-17 07:13] martpie commented on #72
They merged compatibility improvements, not a full Webpack 5 support yet ;)

Webpack 5 is still in Beta, and breaking changes can still appear on both Webpack and Next.js configuration side.

Hence the low incentive on working on this issue. When there will be a clear sign that Webpack 5 is stable, and that the next Next.js release will use Webpack 5, then it will become urgent, and I'll be able t

[2020-04-17 07:22] ScriptedAlchemy commented on #72
Booo okay. I’ll be more direct

My company is blocked by transpile modules. I’ve got all the other pieces working and am a core contributor of webpack, so I know what’s not going to change and how little is left.

Can I open a PR and perhaps ask a question if I get stuck. Assuming I provide total backward compatibility just like I did for next.js I’d prefer not to fork and publish. Adds to OSS fra

[2020-04-17 07:25] ScriptedAlchemy commented on #72
I’ve rewritten every webpack loader or plugin at the company. This is the last one. It’s more work to remove the plugin than to fix it on my end.

[2020-04-17 07:40] martpie commented on #72
Well, I need to see the solution, but if it's backwards compatible and tests are passing, then let's merge it! 🚀

I will never be against PRs if they are not too controversial, I was just talking about my personal incentive on working on these to patch them.

I could also release this patch under a special tag ‘4.0.0-beta‘ or whatever).

Anyway, I will wait for your PR and we can start from there

[2020-04-18 16:20] ScriptedAlchemy commented on #72
Perfect!

Thanks man. Pending the solution of course will impact mergability

Sometimes oss is weird and others won’t take contributions, just wanted to clear the runway beforehand.

I’ll see what I come up with and we can take it from there

[2020-04-21 01:07] ScriptedAlchemy commented on #72
Ahh okay, this is pretty straight-forward to fix. Looks like we just need to update the issuer syntax, it only accepts regex now.

https://github.com/zeit/next.js/pull/10885/files#diff-4ec59a55144129a45f46da71c0777df9

![image](https://user-images.githubusercontent.com/25274700/79813883-bb771080-8331-11ea-9cf3-17dc41f753f8.png)

[2020-04-21 13:46] davecardwell opened #82 "Existing config functions are overwritten"
- [x] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE

**Are you trying to transpile a local package or an npm package?**
N/A

**Describe the bug**
Next.js allows you to use a function for your existing config, however next-transpile-modules does not:

[code]

In this example the existing config would be lost. I think it would be

[2020-04-21 14:53] martpie commented on #82
You will probably be interested by this https://github.com/zeit/next.js/issues/11000#issuecomment-598178943

[2020-04-21 14:59] davecardwell commented on #82
Ah yes, thank you. That would let me compose without having to add a dependency on next-compose-plugins.

It still wouldn’t help with the `config.webpack` clobbering though would it?

[2020-04-21 15:08] martpie commented on #82
`next-transpile-modules` supports `config.webpack` composition:

https://github.com/martpie/next-transpile-modules/blob/0ab935c721a46190e045067ced5d5a8c4dbdcd02/src/next-transpile-modules.js#L141-L144

[2020-04-21 15:08] martpie commented on #82
Unless I misunderstood what you meant

[2020-04-21 15:15] davecardwell commented on #82
You’re right—looks like it was just a symptom of my trying to use the function form of nextConfig.

Now I moved the `withTM()` call to wrap the return inside that nextConfig function the webpack config is preserved.

Thanks for your help!

[2020-04-21 15:15] #82 closed

[2020-04-21 16:22] martpie commented on #80
This is not really related to this plugin, more to the Babel configuration. Did you try adding react native to your babel configuration?

https://stackoverflow.com/questions/57158884/syntaxerror-missing-initializer-in-const-declaration

[2020-04-21 16:22] #80 closed

[2020-04-24 01:55] merrywhether commented on #9
It seems you want `symlinks: false` only if you are trying to have this package transpile your local packages. If you just need this for transpiling random node modules, then you don't seem to need this change. In our case, we're transpiling our local packages via their own process, so `symlinks: true` is necessary for Next to pickup our rebuilt packages and hot reload.

It seems like since the si

[2020-04-24 08:29] martpie commented on #9
I will think about adding a configuration option to change this. I may have time to work on this this week-end :)

[2020-04-24 15:35] merrywhether commented on #9
Oh, we have a workspaces/lerna monorepo with lots of packages consumed by a few Next applications. Each package has its own build/build:watch capability that we use during local dev, so we only use this module for transpiling public modules that have es6 features for those apps whose support matrix forces es5-only. For the apps that needed such transpiling, setting `symlinks: false` broke Next's a

[2020-04-27 08:29] nkalinov commented on #75
Any updates here? Known workaround?

[2020-04-27 10:23] martpie commented on #75
There is a PR opened, but its creator needs to update it in order for the tests to be ran against it. Also, integrations tests would be welcome.

[2020-04-27 10:25] martpie commented on #75
It's not a lot of work left, but it needs to be done and I do not have time to invest on a setup I don't know too well sorry. So a branch fork + new PR is more than welcome!

[2020-04-27 12:50] goszczynskip commented on #75
I'll try to update it today

[2020-04-28 08:50] martpie commented on #75
Should be fixed in 3.3.0 🚀

[2020-04-30 14:11] mikestopcontinues opened #83 "sibling package's `*.module.css` being parsed incorrectly"
- [x] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE

**Are you trying to transpile a local package or an npm package?**
Local package using lerna/npm, maximal hoisting.

**Describe the bug**
I'm trying to use lerna do import uncompiled js/css into a bunch of sibling apps. But when I switched from styled-components to css modules

[2020-05-12 10:01] reckter opened #84 "Upgrading to 3.3.0 somehow brakes storyshots with "cannot find module @jest/globals""
**Describe the bug**
When upgrading from `next-transpile-modules@3.2.0` to `next-transpile-modules@3.3.0` the storybook-storyshots jest setup brakes with `Cannot find module '@jest/globals' from 'storyshots.test.ts'`

The weird thing is, that it does not happen with the actual code changes made in 3.3.0 applied to 3.2.0. But it happens every time the installed package.json of next-transpile-module

[2020-05-12 12:33] reckter commented on #84
This of course was not related to this project at all.
I still have no idea what was going on, but removing an old dependency (@glidejs/glide), which happened to be mocked in these storyshots test did solve it.
Why installing a new version of this dependency caused this weird behavior is still beyond me.

Thanks for this awesome module and have a nice day!

(And to the future Googler that finds th

[2020-05-12 12:33] #84 closed

[2020-05-12 15:42] martpie commented on #84
usually, a `rm -rf node_modules package-lock.json && npm ci` fixes 80% of the problems ;)

[2020-05-12 16:16] reckter commented on #84
Yeah, that's always my first try :D

On Tue, 12 May 2020 at 17:43, Pierre de la Martinière <
notifications@github.com> wrote:

[2020-05-16 12:29] tbergq opened #85 "Transpiling of yarn workspaces broke after upgrading to next 9.4.0"
- [x] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE

**Are you trying to transpile a local package or an npm package?**
local

**Describe the bug**
Transpiling worked with next `9.3.6`, but broke after upgrading to `9.4.0`.

[code]

**To Reproduce**
Upgrade from next 9.3.6 to 9.4.0 and transpiling of yarn workspaces breaks

**Ex

[2020-05-16 12:45] TrySound commented on #85
Show your next.config.js please

[2020-05-16 12:47] tbergq commented on #85
next.config.js file can be seen [here](https://github.com/adeira/universe/blob/master/src/example-relay/next.config.js)

[2020-05-16 21:43] martpie commented on #85
Can you give more information about your setup? Do you own the transpiled files? Are you using flow? Why are flow files transpiled? Why are you transpiling  an example repository? etc.

I am lacking some context on if this is the responsibility of `next-transpile-modules` or `next`

[2020-05-17 10:45] tbergq commented on #85
We have a monorepo using yarn workspaces. We distribute several npm packages, among them some wrappers around relay. The relay example repository is there to show some examples of how to use relay. Mutations, paginations etc.

Yes

Yes

Because flow annotation is not valid javascript syntax, the flowtypes have to be stripped.

Same as above I would say. It needs to be transpiled to run in the brow

[2020-05-17 13:18] tbergq commented on #85
Actually, I just discovered that doing `yarn next build && yarn next start` works, while `yarn next` produces the error 🤔

So the error might not be in `next-transpile-modules`. It seems to be correctly transpiled for production.

[2020-05-17 13:35] martpie commented on #85
could be interesting to check the changelogs of next, they may have modified the base Babel config, or there may have been a Webpack/Babel update.

Last: do you have a custom Babel config? If yes, can you post it here?

[2020-05-17 13:45] tbergq commented on #85
Yes, we have this babel config

[code]

[2020-05-17 13:49] tbergq commented on #85
From reading the blog about the `9.4.0` release, the only thing I can think about is that somehow related, is the `Import alias` functionality they added. Could it be that it interprets our workspace as an import alias 🤔

[2020-05-17 16:09] martpie commented on #85
You don't have something for flow in your Babel config?

[2020-05-17 16:51] tbergq commented on #85
Yes, we do. This project has existed for about 3 years. There are no problems with Babel or other setup.

Something changed in next 9.4.0, and I suspected that something would need to change with next-transpile-modules also.

[2020-05-18 05:47] andrewmclagan commented on #85
We "may" also be experiencing this issue. Just bumped to `9.4.x` and we are seeing issues around the new optional chaining language feature. We were using this prior to the upgrade, not code has changed. Our assumption is transpiration has stopped for some reason?

Also when we do `next build` it works just `next dev`

Side note we are using Yarn v2

[2020-05-18 07:47] martpie commented on #85
@andrewmclagan Can you share your Next config as well please?

[2020-05-18 15:15] JulienKode commented on #21
Have you find any other solution @alexkrautmann I want to do the same as you, I have a package that I need to publish so I have a dist but I want next to transpile theses modules

So I ended up doing this:

[code]

I works for a package but does not works for another

[2020-05-19 00:37] andrewmclagan commented on #85
[code]

[2020-05-19 00:56] andrewmclagan commented on #85
If we keep all the above versions locked and simply use yarn `1.22` things work. So it seems Yarn 2 is not working with this package, it works with a vanilla next app. Also yarn `1.22` plug-and-play is not working.

[2020-05-20 07:48] tbergq commented on #85
For me this is not related to `Yarn PnP` since I am already using yarn `1.22.4`.

I made a small reproduction repo. You can check it out [here](https://github.com/tbergq/next-transpile-error). The master branch is using `9.4.x`, and the error is reproducable. There is a branch called `9.3.6` that is working with the same setup.

[2020-05-20 08:29] martpie commented on #85
It looks a lot for me like a Babel misconfiguration. I will try to invest some time today or tomorrow to check that.

Thanks for the repro, it helps a lot!

[2020-05-20 08:31] tbergq commented on #85
I would buy this if it never worked, the thing that makes me think this is not it, is that it broke after upgrading.

Thanks, I appreciate that a lot 🙂

[2020-05-20 12:28] martpie commented on #85
I buy it because the Next.js team always tweaks the internal and Webpack and Babel configuration in each release. We had breaking changes in the past because I don't read all the Next.js changelogs to see if the plugin needs to be updated or not (the CSS support for example, is extremely hacky, and could break at any canary release if they decide to change the shape of the Webpack rules)

[2020-05-20 12:30] martpie commented on #85
tl,dr: `next-transpile-modiles` hacks the internal Next.js webpack configuration to bypass the limitation of not being able to transpile code from `node_modules`. Even a minor change to a include's regex or a rule option change from the Next.js team can break `next-transpile-modules` without any warning.

[2020-05-21 12:34] peduarte commented on #85
Im having the same issues after upgrading to Next 9.4 😭

[2020-05-21 20:55] jacobrask commented on #85
In our Yarn monorepo we have one app using next-transpile-modules 2.3.1 and that still works, but 3.0.0 in a next project fails, in case that helps with finding the issue, or people could downgrade while the issue is being resolved in 3.x.x.

[2020-05-22 01:14] martpie commented on #85
Not the first time I hear that, thanks for sharing 🤔

I unfortunately still did not have time to look into the issue.

I personally did not have trouble in various Next.js 9.4 setups (with Yarn Workspaces), so for all the people landing on this issue, please share your setups specifities so we can try to identify the root of the problem more easily 👍 (the best of the best being a PR with a test fa

[2020-05-22 05:57] tbergq commented on #85
I tried downgrading to `2.3.1`, but I still get the error. I also removed flow and tested with `100_000` and got the error

[code]

[2020-05-22 18:24] jacobrask commented on #85
This is a separate issue I’ve seen that has been resolved by removing all node_modules folders recursively in the monorepo, undoing changes to Yarn.lock and then running yarn again. Frontend Tooling ❤️😢

[2020-05-26 13:21] Izhaki commented on #85
Next 9.4 implements [its own alias system](https://nextjs.org/blog/next-9-4#absolute-imports-and-aliases).

There has been changes to the webpack config that I suspect do not marry well with this plugin.

We use this plugin so to import files from other packages in a monorepo, I'm pretty sure there is no longer need for this plugin with 9.4 (for us at least).

We have this:
[code]

Here is the res

[2020-05-26 13:53] TrySound commented on #85
Use spoiler please

[2020-05-26 14:04] tbergq commented on #85
Actually I found the issue, it seems like the issue is with `next-plugin-custom-babel-config`, not `next-transpile-modules`. I noticed that rules are now

[code]
and `next-plugin-custom-babel-config` tries to do ` rule.use.options.configFile = nextConfig.babelConfigFile;` which is probably why it works for production builds, since there is no `react-fast-refresh` there

[2020-05-26 14:44] tbergq commented on #85
I can confirm it works now with `next-plugin-custom-babel-config@1.0.3`, so feel free to close the issue @martpie

[2020-05-26 15:04] martpie commented on #85
Great you managed to find the root of the issue! I'll be waiting on the confirmation of others and then we can close it 👍

[2020-05-26 15:09] Izhaki commented on #85
We don't have `next-plugin-custom-babel-config` anywhere in our project. It's a dependency of which package exactly?

[code]

[2020-05-26 15:14] tbergq commented on #85
It is its own [package](https://github.com/josephluck/next-plugin-custom-babel-config#i-need-to-transpile-my-workspaces)

[2020-05-26 15:20] Izhaki commented on #85
Well in that case we don't use it and plugin is broken for us with 9.4

[2020-05-26 16:00] Izhaki commented on #85
OK. I removed this plugin from our repo and I'm getting exactly the same error is with it.

So clearly the issue is not with `next-transpile-modules` for us.

[2020-05-26 19:05] martpie commented on #85
Thank you for the feedback guys 👍

If anyone is passing by and the above "solutions" did not fix it for you, please comment :)

[2020-05-26 21:44] nihiluis opened #87 "Import scss in scss"
[code]

how can I tell my node_modules located lib where it can find the vars.scss?

[2020-05-26 22:02] nihiluis commented on #87
lib very good works ...

[code]

[2020-05-26 22:02] #87 closed

[2020-06-09 09:29] nnennajohn commented on #85
Hi,

I am still having this issue. The comment above pointed out its a plugin by nextjs that might be causing it. But I don't see a solution. Was anyone able to get working around this? I am on yarn berry, next 9.45 and next-transpile-modules 3.3.0.

Everything worked before the next upgrade, and I don't want to downgrade.

<img width="884" alt="Screen Shot 2020-06-09 at 2 27 19 AM" src="https://u

[2020-06-09 11:23] RuniBr commented on #85
@andrewmclagan Am using Yarn 2 with Plug'n'Play and after banging my head against the wall for a couple weeks, was finally able to make some progress.

Firstly, I needed to change the workspace names passed to `transpile-next-modules` to absolute paths instead. I.e. `require('next-transpile-modules')(['@app/lib-next-utils']);` would become `require('next-transpile-modules')(['/Users/runib/work/app

[2020-06-10 01:22] nnennajohn commented on #85
@RuniBr Thanks for the info. Unfortunately, I also run this in docker, so can't be hard-coding paths.

I think something changed in the latest nextjs, and this package needs to update to work with it. I got it working by following the hint above, and using next-plugin-transpile-modules instead.

<img width="996" alt="Screen Shot 2020-06-09 at 6 18 23 PM" src="https://user-images.githubusercontent.

[2020-06-12 02:26] andrewmclagan commented on #85
I believe regarding the support for yarn v2 or yarn plug-and-play in general should be done in a seperate issue, not this issue. @nnennajohn @RuniBr

[2020-06-15 22:20] nnennajohn commented on #85
@andrewmclagan I mentioned it because i'd used yarn v2 since it launched, and this package always worked with it. It only broke with the recent next update, so I don't think it's a yarn issue. Switching to next-plugin-transpile-modules got it working again.

[2020-06-15 22:31] martpie commented on #85
@nnennajohn `next-plugin-transpile-modules` is just the old package name of `next-transpile-modules`, I would recommend you use `next-transpile-modules@2` if you don't need to use the latest feature of v3 (CSS module, `.mjs` etc), it has a lot of bugfixes that were not released under `next-plugin-transpile-modules`

[2020-06-15 22:33] martpie commented on #85
To anyone else snooping around: I think the original problem of this issue was fixed and looks unrelated to the problem you are facing, if you'd mind opening a separate issue, with clear reproduction steps, I could spend some time debugging it :)

[2020-06-18 23:03] nnennajohn commented on #85
@martpie that's interesting. Because I thought I was on the latest. Will change it tonight and report back if I am able to get it working. Thank you.

[2020-06-26 13:44] jeantil opened #88 "Compatibility with nextjs canary"
**Is your feature request related to a problem? Please describe.**
Trying to upgrade an app using next-transpile-module@3.3.0 to use nextjs@9.4.5-canary.20 breaks `next dev` with the following error :
[code]

running ` NODE_OPTIONS='--inspect-brk' next dev     ` allowed me to the internal changes in cssloader config:
[code]
**Describe the solution you'd like**

I would like the app to start normal

[2020-06-26 14:00] jeantil commented on #88
The breakage was introduced by
https://github.com/vercel/next.js/commit/1fc0aae5891644e6e3a719befb642d275472c537#diff-4ec59a55144129a45f46da71c0777df9

[2020-06-26 14:19] martpie commented on #88
Does it work with the current stable version of Next.js?

[2020-06-26 14:21] jeantil commented on #88
Yes it does, but it will immediately break with the next release, I thought it was worth a heads up.

[2020-06-26 16:12] martpie commented on #88
Thanks, I'll have a look at what changed exactly in Next.js Webpack config :+1:

[2020-06-26 16:12] martpie commented on #88
Thanks, I'll have a look at what changed exactly in Next.js Webpack config :+1:

[2020-06-27 17:53] switz commented on #82
So this works... in that if you put the webpack config _inside_ of the withTM call it works. But if you do it anywhere outside, it breaks it. Seems like it should ingest the existing config, rather than overwriting it, even if you don't put it inside of the `withTM` call itself.

[2020-06-27 19:58] jamieowen commented on #85
Hey, not sure on status of this.. but i had the same issue.

Fixed by passing resolved absolute paths instead of package names, as mentioned above.
( on a very minimal config - next 9.4.0, yarn 1.22.4, next-transpile-modules 3.3.0  )
[code]

I also declared paths in tsconfig.json using the same with next alias support. ( no babel config )
( i still seemed to need the next-transpile-modules plugin

[2020-06-27 20:53] martpie commented on #82
This is unfortunately not doable https://github.com/vercel/next.js/issues/11000#issuecomment-598178943

[2020-06-29 22:39] dan-wu39 commented on #88
@martpie it looks like the css-loader might have changed
[code]
The `issuer` object's keys changed from include/exclude to and/not

[2020-07-01 14:39] migatech2015 commented on #88
@dan-wu39 I've opened a pull request to fix the compatibility with nextjs 9.4.5. It works with my project that uses nextjs v9.4.5-canary.26.

[2020-07-03 23:45] ivawzh opened #90 "`Fail to compile` when a package name is customised"
- [x] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE

**Are you trying to transpile a local package or an npm package?**
Local package

**Describe the bug**

When I customize a package name, i.e. name in `package.json` is different from the package folder name, it fails with error message :

[code]

**To Reproduce**

[Reproductio

[2020-07-06 08:26] martpie commented on #90
Hello there 👋

I did not think about this case but I am not suprised at all. Webpack (the Next.js bundler) does not really know the exact path of a specified package (we work with regexes in order to detect if we should transpile a package or not).

There is probably a couple of things we could do about it. In the meantime, I highly recommend to use the same name than  the pathname (I don't really

[2020-07-07 19:00] #72 closed

[2020-07-08 02:36] ivawzh commented on #90
Oh, I see. Just wondering in the doc

How do you prepend the namespace to the folder name? As there is a `/` in the name.

As usecase, it's a common practice to have namespace in monorepo to avoid external package naming collision. It is also easier to identify which dependencies are internal base on the `@namespace`.

However, it turns out the lib I need requires ts config with `module: 'commonjs

[2020-07-19 17:29] th0th commented on #75
I am MacOS and still having this issue. I cloned @goszczynskip 's repo and updated `next-transpile-modules` to 3.3.0 but no luck. Would it help if I created an example repository?

[2020-07-27 15:01] jeantil commented on #88
@martpie nextjs 9.5.0 has just been released

[2020-07-27 15:03] martpie commented on #88
Thank you! I'll have a look asap

[2020-07-27 16:20] martpie commented on #88
Looks like Next.js is burning right now, the package was never published and they rolled back the website 🙈

The WIP is there: #93, I have to add some tests for Webpack 5, and once the release will be official, I'll release it :)

[2020-07-27 18:31] #88 closed

[2020-07-27 18:32] DScheglov commented on #88
So, @martpie
Could you clarify, what I should we that? My build is broken right now

[2020-07-27 18:34] martpie commented on #88
You should not update Next.js without making sure all your plugins are compatible with it ;)

The release is in progress, please give me some time

[2020-07-27 18:36] DScheglov commented on #88
@martpie ) In development mode all dependencies are been updated automatically. So, it's only develop is broken.
Well -- will fix version of `next` until your fix be issued

[2020-07-27 18:40] martpie commented on #88
well I sure hope you are using a lockfile, and `npm ci` when installing your dependencies ;)

4.0.0 is out :) https://github.com/martpie/next-transpile-modules/releases/tag/4.0.0

[2020-07-27 18:48] jeantil commented on #88
Thanks for the quick update !

[2020-07-27 19:08] anmonteiro opened #94 "v4: incorrect rules for SASS / CSS loaders in projects that have Next in a subdirectory"
- [x] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE

**Are you trying to transpile a local package or an npm package?**
local package

**Describe the bug**
Next.js migrated to using Webpack 5 loader config with `issuer.and`, `or` and `not` in https://github.com/vercel/next.js/pull/14268/files#diff-0df73c8e15d5a4ab2409907c614af8e

[2020-07-27 22:34] martpie commented on #94
Hello👋

I'll try to have a look when I can. The best you can do to help us would be to submit a failing test :)

[2020-07-27 22:37] anmonteiro commented on #94
This is the mitigation I added to my project:

[code]

[2020-07-28 03:32] EvHaus opened #95 "Getting "CSS Modules cannot be imported from within node_modules." with 4.0.0 and next 9.5.0"
- [x] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE

**Are you trying to transpile a local package or an npm package?**
A local package

**Describe the bug**
I'm using Yarn workspaces and CSS Modules. After upgrading from `next-transpile-modules@3.3.0` and `next@9.4.4` to `next-transpile-modules@4.0.0` and `next@9.5.0` I'm getti

[2020-07-28 05:20] jackyef commented on #95
I also noticed this issue happening. Seems like providing any value to the array provided to `next-transpile-modules` will cause this error to occur.

Here is a [repo](https://github.com/jackyef/next-95-tm-repro) to show the issue.
In `next.config.js`, simply changing
[code]
to
[code]

Will allow the project to build correctly.

[2020-07-28 06:34] ratheo commented on #95
Looks like another issue with the cssloader issuer. The error disappears when changing the issuer to this.
[code]

So that the issuer contains the path of the running application in the `or` field instead of `and`.

[2020-07-28 06:52] martpie commented on #95
Thank you lads for the report, I'll look into it as soon as possible and will try to add tests to prevent this regression from happening (but it's weird because we have a test for that, so I'll have to check what I did wrong)

[2020-07-28 08:04] martpie commented on #95
So I've just tested with this app (`basic`) and cannot reproduce this bug. Can you elaborate a bit more on what is not working, or the specificity of your setup?

[2020-07-28 08:06] martpie commented on #95
I cannot reproduce this error with my test setup here (`basic`): https://github.com/martpie/next-transpile-modules/tree/master/src/__tests__/__apps__

can you tell me more about the specificity of your setup?

[2020-07-28 08:28] martpie commented on #95
I could not reproduce it, but I could see indeed where the problem was in the webpack config, thanks for your help. I am going to draft a release, it would be great if someone can test it asap.

Also, I still could not reproduce it locally, so I have no idea how to test this scenario, all feedback is welcome.

[2020-07-28 08:31] ratheo commented on #95
With yarn workspaces, the symlinked local packages are hoisted to the root of the project, which means they don't match with the path of the running project directory.

[code]

Since your test project is not using yarn workspaces, the local package symlinks are placed inside the node_modules folder of your `basic` package, which means they also match with the running project directory.

[2020-07-28 08:33] martpie commented on #95
Thanks, I will add a test for yarn workspaces

[2020-07-28 12:48] martpie commented on #95
I have a potential fix available here: https://github.com/martpie/next-transpile-modules/pull/96

Would you be able to test it before I release it to tell me if it solves your problem?

[2020-07-28 12:48] martpie commented on #94
I have a potential fix available here: https://github.com/martpie/next-transpile-modules/pull/96

Would you be able to test it before I release it to tell me if it solves your problem?

[2020-07-28 13:20] slavb18 commented on #95
confirm same bug with project https://github.com/slavb18/nextjscssmodules

[2020-07-28 13:59] justincy commented on #94
@anmonteiro where did you add that fix?

[2020-07-28 14:17] anmonteiro commented on #94
@justincy the full snippet (inside `next.config.js`):

[code]

[2020-07-28 16:17] dminkovsky opened #97 "Fast refresh on changes to files in yarn workspace package stopped working in 9.5.0/4.0.0"
- [x] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE

**Are you trying to transpile a local package or an npm package?**

local

**Describe the bug**

Posted originally to https://github.com/vercel/next.js/issues/15582

My next.config.js looks like this:

<details>

[code]

</details>

I am using a monorepo Yarn workspaces layout

[2020-07-28 16:31] martpie commented on #97
Can you try 4.0.1 and tell me if it was fixed?

[2020-07-28 16:33] martpie commented on #95
Should hopefully be fixed in 4.0.1, please share feedback if it works (or not)!

[2020-07-28 16:33] #95 closed

[2020-07-28 16:33] martpie commented on #94
Should hopefully be fixed in 4.0.1, please share feedback if it works (or not)!

[2020-07-28 16:33] #94 closed

[2020-07-28 16:39] martpie commented on #97
Also, please use the full template when reporting bugs.

[2020-07-28 16:41] anmonteiro commented on #94
4.0.1 fixes this issue for me. Thanks!

[2020-07-28 17:07] dminkovsky commented on #97
No effect

Updated

[2020-07-28 20:04] dminkovsky commented on #97
Thanks @martpie. Please let me know if you have any issues replicating easily. I am assuming you have some yarn workspaces repo that looks like this? If not, I'll try to put together a repo.

@michaelbirchler are you experiencing this too?

[2020-07-28 20:06] martpie commented on #97
If someone cannot wait, feel free to submit a PR, I won't work on it before tomorrow (it's 10pm right now, western Europe time) ;)

[2020-07-28 20:11] dminkovsky commented on #97
Definitely no rush for me at all...

вт, 28 июля 2020 г. в 16:07, Pierre de la Martinière <
notifications@github.com>:

[2020-07-28 22:35] michaelbirchler commented on #97
@dminkovsky yes, I'm experiencing the same behavior within a yarn workspaces repository.

[2020-07-29 00:57] EvHaus commented on #95
Confirmed. 4.0.1 did the trick. Thanks for the fast turnaround!

[2020-07-29 02:56] jackyef commented on #95
4.0.1 fixed it for my as well, thanks!

[2020-07-29 11:37] aleksei-savitski-softswiss commented on #97
I'm experiencing the same issue. Fast refresh stopped working with yarn workspaces after I updated to next.js 9.5.0 and next-transpile-modules 4.0.1.

I found the reason is here https://github.com/martpie/next-transpile-modules/blob/master/src/next-transpile-modules.js#L181.
It expects that content of config.watchOptions.ignored array is regExp's but there are strings with [anymatch](https://githu

[2020-07-29 12:08] martpie commented on #97
Should be fixed in 4.0.2, thank you very much @aleksei-savitski-softswiss

I will try to add tests to prevent hot reloading regressions

[2020-07-29 12:08] #97 closed

[2020-07-29 12:20] aleksei-savitski-softswiss commented on #97
@martpie thanks for releasing it so fast! I already upgraded to 4.0.2 and it works!

[2020-07-29 12:24] stijnvanderlaan opened #99 "Not working with styled-components"
**Describe the bug**
styled-components is not able to use a shared babel-plugin so classNames will interfear.

**To Reproduce**
Use styled-components inside a different package then the next app and import it:

[code]

**Possible fix**
A fix for this problem is to be able to set the rootMode option to the next-babel-loader (maybe as a configuration option:
[code]
So alle packages are using the sam

[2020-07-29 14:15] martpie commented on #99
Please follow the issue template :)

[2020-07-29 14:23] dminkovsky commented on #97
Same here. Thanks everybody!

[2020-07-30 10:24] #99 closed

[2020-07-30 12:03] luknl commented on #88
Hey, I just came across the same error as you @jeantil, when building our app on the Gitlab CI/CD pipeline.
`npm run build` works fine locally, but in a prod environnement, the pipeline shows this error and won't build.
What is strange is that it builded it fine 5 days ago, and now this error shows up, even though I didn't change anything.
Do you have any idea why, and what I should do to fix that

[2020-07-30 12:14] martpie commented on #88
Depends how you install your dependencies in your CI, if you install them with `npm install` it's normal because `"next": "^9.4.4",` will resolve to 9.5.0. And this is why you should always install your dependencies with `npm ci` or `yarn --frozen-lockfile` **so you only install the dependencies that are resolved in your lock file**.

[2020-07-30 12:42] martpie commented on #88
I added a FAQ note about that: https://github.com/martpie/next-transpile-modules/blob/master/README.md#a-new-version-of-nextjs-is-availablei-just-setup-my-project-and-my-build-is-breaking-because-of-this-plugin

[2020-07-30 16:47] dan-wu39 commented on #88
Thanks @martpie , the importance of lockfiles is best learned through pain :)

[2020-07-30 17:15] luknl commented on #88
Thank you @martpie, didn't knew about `npm ci`, will try that :)

[2020-07-30 20:47] brotzky commented on #88
After following these steps i've run into a new issue with `webpack` not being found in `next-transpile-modules.js`

[code]

has anyone run into anything similar?

[2020-07-30 21:41] martpie commented on #88
@brotzky please understand the inner problem ;)  you will be fine using the latest version of Next.js with the latest version of this plugin.

There is no need to fix the version of your dependencies: install your department via lockfile, not via package.json, so you can enjoy the latest Next.js features! https://github.com/martpie/next-transpile-modules/issues/88#issuecomment-666328343

[2020-08-04 07:12] stijnvanderlaan commented on #99
I found out you could configure babel a different way, adding this fixes the problem for me:
[code]

[2020-08-07 11:09] aswbot opened #101 ""yarn workspace" commands don't work"
Hello.

- [x] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE

**Are you trying to transpile a local package or an npm package?**
Local package

**Describe the bug**
[code]

**To Reproduce**
[code]

**Expected behavior**
It should work out of the box afaik, no babel configuration as Next comes with TypeScript support.
It is weird

[2020-08-08 00:18] dmeents commented on #101
I am also experiencing this issue.

[2020-08-08 14:38] martpie commented on #101
Weird, we have a test for this case: https://github.com/martpie/next-transpile-modules/blob/master/src/__tests__/__apps__/yarn-workspaces/app/pages/test-local-typescript-module.tsx

Maybe I should try to add a react component as well

[2020-08-10 00:56] dmeents commented on #101
Here's the error I'm getting on my project, seems related to @aswbot

I however am getting this called on interfaces, not just types.

[code]

[2020-08-10 08:08] martpie commented on #101
It looks there is an issue with some TS features transpilation, I will try to have a look as soon as I can, but I have a lot on my plate right now.

I recommend you rollback your Next.js version for now (or submit a PR if you really cannot wait) :)

[2020-08-10 11:17] martpie commented on #101
@aswbot Can you try using `@app` in `next.config.js` instead of `@app/components` and tell me if it works? I think the problem comes from the package name + what you defined in `next.config.js`. I added integration tests for React components and they work well.

[2020-08-10 22:06] dmeents commented on #101
I have no clue why this made the difference for me, but using your comment @aswbot I was able to get mine working too. I haven't been able to pinpoint what changed between these repos, but simply changing my `baseURL` to `packages` (like you had actually removed) solved it for me.

[2020-08-10 22:35] martpie commented on #101
Thank you guys for the investigation, I will try to check what is going wrong exactly

[2020-08-11 12:14] martpie commented on #85
Closing this in favor of #101 as it seems to be the root issue, and a workaround exists

[2020-08-11 12:14] #85 closed

[2020-08-11 12:14] martpie commented on #83
Sorry for the late reply, Is it still happening on the latest versions of Next.js + `next-transpile-modules`?

[2020-08-11 14:23] belgattitude commented on #101
I've got hit too, created a sample repo based on latest with-yarn-workspace examples. You can have a look if it helps:

https://github.com/belgattitude/with-yarn-workspace/blob/master/packages/web-app/next.config.js

Thanks for your work on this, really appreciate!

[2020-08-11 17:23] mikestopcontinues commented on #83
I'm sorry, after quite a bit of headbanging, I switched back to styled-components, so I don't know. I would understand if you just closed the issue instead of pursuing it. Thanks though! :)

[2020-08-12 09:30] lionelB opened #105 "yarn v2 complains about missing webpack dependency"
- [x] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE

**Describe the bug**
Using yarn v2 (berry) I have an error

**To Reproduce**
- install next.js & next-transpile-module
- add transpile module to the config
- run next dev

**Expected behavior**
next running

**Setup**

- Next.js version: 9.5.2
- `next-transpile-modules` versio

[2020-08-12 09:45] jyunhanlin commented on #105
We have the same problem but with yarn v1.
It happened with `yarn install --prod` then `yarn build`

[2020-08-12 09:55] Mosoc commented on #105
Actually, webpack is a dependency in main next package.

Ref: https://github.com/vercel/next.js/blob/canary/packages/next/package.json#L119

The workaround is add back  "webpack": "^4.44.1"` in dependency section in order to install wepack properly.
I think the smell of that solution is a little bit strange.

[2020-08-12 09:55] martpie commented on #105
Thanks for the report, it's probably due to how we make the Webpack 5 detection. I will remove the auto-detection and I'll try to submit a fix soon.

[2020-08-12 09:56] martpie commented on #105
There: as webpack is a devDeps, it's not installed when pruning/installing your deps for productions, hence the (probable) "cannot require blabla"

https://github.com/martpie/next-transpile-modules/blob/385d34395805f667c4f5b657addbb8af1ab1d89b/src/next-transpile-modules.js#L3

[2020-08-12 11:32] #105 closed

[2020-08-12 11:35] martpie commented on #105
Should be fixed in `4.1.0`, can you confirm?

[2020-08-12 12:41] lionelB commented on #105
yup! thanks

[2020-08-14 00:01] tkstang commented on #101
+1 To the issue after upgrading to `next@9.5` and  `next-transpile-modules@4.1.0`, not using typescript FWIW.  I tried both of the above solutions which seemed to resolve the transpiling of the package in question but broke a bunch of other resolutions which is another headache altogether. @belgattitude thanks for putting together a repro and @martpie thank you for looking into this.

[2020-08-14 01:29] merrywhether commented on #9
@martpie Thanks for adding the `resolveSymlinks` config option. Works great, and I can remove the custom override now.

[2020-08-14 07:11] martpie commented on #101
To anyone with this issue:

- Are you using Windows?
- In which version did it stop working for you?

[2020-08-14 10:30] belgattitude commented on #101
Hey @martpie... I don't think it was working, at least I tried few older versions on this P/R https://github.com/belgattitude/next-transpile-ts-workspace/pull/4 to be sure, but I'll probably need to tune baseUrl to be sure.

I'm also investigating those issues that would avoid transpilation:

- merged in 9.5.2: https://github.com/vercel/next.js/pull/13542
- not yet merged: https://github.com/verce

[2020-08-14 11:24] belgattitude commented on #101
@martpie My bad it looks everything works for me (at least onlinux), was just stupid and forgot to transpile foo. I'll make a p/r in nextjs example for those who got stuck like me. Thanks a  lot anyway.

[2020-08-14 14:38] JakubKoralewski opened #109 "Run babel for typescript before importing"
- [x] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE

**Are you trying to transpile a local package or an npm package?**
Local.

**Describe the bug**
I'm using `babel-plugin-const-enum` to transpile const enums to const objects.

My .babelrc
[code]

**To Reproduce**

**Expected behavior**
The issue would be solved if babel transf

[2020-08-14 14:41] JakubKoralewski commented on #109
I had a `.babelrc`. Using `babel.config.json` helped.

Reading the FAQ actually helps 🤣

[2020-08-14 14:41] #109 closed

[2020-08-14 15:13] martpie commented on #109
I should add a second checkbox: `I WILL GIVE 100$ TO CHARITY IF MY SOLUTION WAS ACTUALLY IN THE FAQ`

[2020-08-14 21:00] tkstang commented on #101
I made the mistake of not updating the usage when updating from a much older version (2.3).  Worth checking in case this is anyone else's issue.

// next.config.js
- const withTM = require('next-transpile-modules');
+ const withTM = require('next-transpile-modules')(['somemodule', 'and-another']);

module.exports = withTM({
-  transpileModules: ['somemodule', 'and-another']
});

[2020-08-19 18:49] ScriptedAlchemy opened #110 "Use next.js method for detecting webpack 5"
I noticed you opted towards `unstable_webpack5` flag that's manually passed.

Just wanted some information on why we need a manual flag for this, the rest of next and patched community plugins / loaders use the require('webpack').version to determine if its WP5 automatically

[2020-08-19 19:07] ScriptedAlchemy opened #111 "_document is not found"
- [x] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE
- [x] I WILL GIVE 10$ TO CHARITY IF MY SOLUTION WAS ACTUALLY IN THE FAQ

**Are you trying to transpile a local package or an npm package?**
If an npm package, which one?
Local packages + some private ones

**Describe the bug**
A clear and concise description of what the bug is

[2020-08-19 19:27] ScriptedAlchemy opened #112 "Webpack 5 HMR does not work"
- [x] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE
- [x] I WILL GIVE 10$ TO CHARITY IF MY SOLUTION WAS ACTUALLY IN THE FAQ

**Are you trying to transpile a local package or an npm package?**
If an npm package, which one?
Local Package
**Describe the bug**
A clear and concise description of what the bug is (don't forget the logs

[2020-08-19 21:12] ScriptedAlchemy commented on #112
If i change the following, webpack will compile, but pages still do no actually hot reload updates, page refreshes also do not reflect the newly changed code.

[code]

[2020-08-19 21:24] martpie commented on #110
`require('webpack').version` requires Webpack at runtime, and Webpack in not installed at production time with `npm install --production` and `yarn install --production`, as it is a dev dependencies.

So this is why you need to pass a flag, because `require('webpack')` would throw at runtime on production.

[2020-08-19 21:24] #110 closed

[2020-08-19 21:25] martpie commented on #110
sidenote: It works for Next.js because they only use it at build time, and not at runtime (and `next.config.js` is executed also at runtime)

[2020-08-19 21:27] martpie commented on #111
Try removing the lock file, remove node_modules delete `.next/` and re-install dependencies, it usually does the trick.

[2020-08-20 04:39] ScriptedAlchemy commented on #110
Thanks! Was wondering 💭

[2020-08-20 04:40] ScriptedAlchemy commented on #111
Appreciate it!

[2020-08-20 16:55] GowsK93 opened #113 "Invalid or unexpected token when transpiling PNG on next@9.5.2 with 4.1.0"
- [x] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE
- [x] I WILL GIVE 10$ TO CHARITY IF MY SOLUTION WAS ACTUALLY IN THE FAQ

**Are you trying to transpile a local package or an npm package?**
Local Package

**Describe the bug**
Hello,

I've currently got an app which is consuming a component library called `fe-components` and tr

[2020-08-20 23:05] #111 closed

[2020-08-24 16:06] ScriptedAlchemy commented on #112
@martpie any ideas on this one?

[2020-08-24 16:07] martpie commented on #112
I did not investigate it yet :c

[2020-08-24 17:59] ScriptedAlchemy commented on #112
@martpie i found the problem. its this ignore options AND the new webpack 5 cache

`config.cache = false` makes it work, however my globs still are not right.

Do you know how I could write a glob that excludes files

Something like `**/node_modules**/[!@lululemon]*`

[2020-08-27 01:28] leandroferreira commented on #83
I was having the same issue (testing against `next@9.4.4`). Worked for me when downgraded to `next-transpile-modules@4.0.0` but fails on `4.0.1` on.

[2020-08-31 10:13] andrewmclagan commented on #75
@martpie Also attempted to use this in our monorepo with Yarn 2 pnp. Upgraded to version `^3.3.0` to no avail. Then attempted to run within the demo repo above with the same version and failed to transpile.

[2020-09-01 00:51] andrewmclagan commented on #75
Also attempted to transpile a simple repo on the `4.x.x` branch.

[2020-09-01 08:11] martpie commented on #75
To anyone facing this issue, I currently unfortunately have no time to work on this before one or two weeks (I also never used yarn 2), but I'd be more than willing to accept PRs 👍

The first step to take is to create a failing test, so we can check easily if it's fixed or not.

- https://github.com/martpie/next-transpile-modules/blob/e824eba5f12af17de40dab49255bf100c9e3f3a8/src/__tests__/integrat

[2020-09-01 09:28] andrewmclagan commented on #75
Amazing! I also dont have time in the next couple of sprints. Although after that can contribute for sure.

[2020-09-01 23:12] andrewmclagan commented on #75
@martpie Here is some context regarding "enhance-resolve" and PnP. This is a conversation between Yarn guys and Webpack guys: https://github.com/webpack/enhanced-resolve/issues/162

If I could be so bold as to make some suggestions... I believe the best approach would be to create a `canary` branch for a rewrite of this package. The rewrite would be focused on dropping regex for integrating native

[2020-09-02 13:11] martpie opened #115 "v5"
This is an issue to keep track of all the things for the next major version on `next-transpile-modules`.

The popularity of this plugin is rising every month (> 180k weekly downloads at the time of this issue), and the use-cases and different setups used with this plugin are getting bigger and more complex.

Ok, let's go:

- [ ] Support all major package managers
  - [x] `npm` (via `file:`)
  - [x

[2020-09-03 08:05] martpie commented on #75
Yes, this should do the trick indeed (hmr won't work unfortunately), be careful that with this solution, if you use `input.includes('abdc')`, it will also matches package with names like `abcdef` etc.

[2020-09-04 00:33] andrewmclagan commented on #75
yep certainly a hack, not a long term solution.

[2020-09-04 08:53] belgattitude commented on #115
@martpie out of my mind:

### NPM

NPM v7 will include workspaces support (like yarn: https://blog.npmjs.org/post/186983646370/npm-cli-roadmap-summer-2019).

### Serverless support

For my use case, in production my repos always use published packages (lerna), I use next-transpile-modules only for convenience on sandboxes and development.

### Sharing config

There's missing recipes for tests (ts-

[2020-09-04 09:33] martpie commented on #115
Can you clarify what you mean?

finallyyyy 😄

[2020-09-06 11:02] florianmatz commented on #99
Sorry to re-open this issue, but any fix on that? I seem to have the same problem, when pulling ES Module from my component library, the generated classes missmatch vom SSR -> FE.

Like the problem that is solved with [this](https://github.com/nblthree/nextjs-with-material-ui-and-styled-components/blob/master/pages/_document.js)

Unfortunately the document config does not consider transpiled modul

[2020-09-08 15:18] shlajin opened #116 "The .babelrc is ignored during transpilation for styled-components"
- [X] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE
- [X] I WILL GIVE 10$ TO CHARITY IF MY SOLUTION WAS ACTUALLY IN THE FAQ

**Are you trying to transpile a local package or an npm package?**
A local package (monorepo, yarn workspaces, sibling package)

**Describe the bug**
I have this in my .babelrc
[code]

When I transpile the

[2020-09-08 17:17] martpie commented on #116
Be ready to give 10$ to charity I'm afraid. Try with `babel.config.js` and not `.babelrc`

[2020-09-08 17:17] #116 closed

[2020-09-08 17:42] shlajin commented on #116
Ok, deal is deal, 10$ goes to one local charity that helps with accommodation for elderly people!

Although you stated almost under every issue that the problem is `.babelrc`, mine wasn't there and I did not I realize I should try it (and I tried almost everything else in the world lol). Is there any legit cases when `.babelrc` is required and `babel.config.js` is not when used together with this

[2020-09-11 18:35] danoc opened #117 "SCSS modules class hash different in `head` and `body`"
- [x] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE
- [x] I WILL GIVE 10$ TO CHARITY IF MY SOLUTION WAS ACTUALLY IN THE FAQ

**Are you trying to transpile a local package or an npm package?**
@thumbtack/thumbprint-react

**Describe the bug**
When using an NPM package that uses SCSS modules, the classnames used in the HTML's `bod

[2020-09-11 19:15] danoc commented on #117
I'm happy to help debug this or provide more information if needed.

[2020-09-11 19:34] danoc commented on #117
I've narrowed down the issue. Next.js's `getCssModuleLocalIdent` function uses the file path to generate the hash for the classname.

https://github.com/vercel/next.js/blob/f0809316eec7eea09781a71cf514c0bacee4d7d2/packages/next/build/webpack/config/blocks/css/loaders/getCssModuleLocalIdent.ts#L23-L29

The `relativePath` for the classname in the `body` HTML is `node_modules/@thumbtack/thumbprint-re

[2020-09-11 19:45] danoc commented on #117
One workaround is to explicitly import the ES module version in the `import`:

[code]

But I'd love to understand why this happens.

[2020-09-13 02:01] elchung opened #118 "TypeError: modules.map is not a function"
- [X] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE
- [x] I WILL GIVE 10$ TO CHARITY IF MY SOLUTION WAS ACTUALLY IN THE FAQ

**Are you trying to transpile a local package or an npm package?**
Trying to transpile lodash-es

**Describe the bug**
I am getting `SyntaxError: Unexpected token 'export'. export { default as add } from '

[2020-09-13 02:06] elchung commented on #118
didn't search closed issues. found similar issues reported

[2020-09-13 02:12] elchung commented on #118
closed and reopened since I found a closed issue that reported the same bug I had (`modules.map is not a function`) and the comments there fixed that issue, but I got a different issue now. I edited my original question with the new error. It seems to me that next-transpile-modules isn't transpiling lodash-es, but i'm not sure if this is just a webpack issue...

[2020-09-15 06:54] goszczynskip commented on #75
@martpie I've tried to create failing tests for yarn2 in current files layout. Unfortunately I haven't found easy way to make it work (without rewriting tests bootstraping code). Yarn 2 doesn't allow nested packages that aren't part of parent workspaces. We can overcome this limitation by running tests inside of Docker image.

[2020-09-15 08:26] borekb commented on #75
Using a specific path seems to work for us:

[code]

It's uglier but works.

[2020-09-19 17:07] jsakas opened #119 "Global CSS cannot be imported from files other than your Custom <App>"
Hi, I am trying to use NextJS with Microsoft's Monaco Editor and the accompanying `react-monaco-editor` package.

Monaco editor imports its own `.css` files into the "esm" build. Ref: https://github.com/microsoft/monaco-editor/issues/886

Hoping to get all these packages to play nice. The global css imports  issue is well known with Next, but I was hopeful this module would be able to handle it.

[2020-09-21 13:08] eric-burel opened #120 "Debug mode"
**Is your feature request related to a problem? Please describe.**
I am using a rather complex setup:
- Jest, TypeScript, Storybook, Cypress, custom webpack for isomorphic development
- A Lerna monorepo (but NOT local to my Next app, that's a set of various packages related or not to Next)
- Local packages, using the same prefix as Lerna packages, and a Webpack alias to load them

I am hitting thi

[2020-09-22 02:06] crossjs commented on #9
`resolveSymlinks` lead to `Module parse failed: The keyword 'interface' is reserved` with typescript files

[2020-09-22 04:53] masad-frost commented on #9
Yikes, I don't have that problem with TS

[2020-09-23 09:30] Dammic commented on #119
In our own project, we've used:
[code]

That worked fine in 9.4.4, but unfortunately doesn't work right now in 9.5. I'm currently investigating if I can make it somehow work again in my case.

[2020-09-24 09:20] martpie commented on #119
Hello there,

thank you for the request. I understand the frustration that Next.js imposes with this kind of rules, however I think it goes beyond the scope of this plug-in, so I don't think I will implement this.

My best recommendation for you is to hack your way around like @Dammic did. You can use `util.inspect` to understand how the Webpack config looks like, and then override some rules.

I

[2020-09-24 09:20] #119 closed

[2020-09-24 09:22] martpie commented on #117
Hello there! Thank you for the report, I have a lot on my plate right now, but I will try to have a look at this issue next week :)

[2020-09-24 09:28] martpie commented on #120
Hello there 👋

My recommendation regarding env vars has always been "use them at runtime, not build time".

Here's how I usually use them:

[code]

Then, from any file:

[code]

The reason why is I have multiple environments (dev, staging, prod...), and I need to update these values for each environment, but with a single build.

Is that of any inspiration to you?

What do you mean?

[2020-09-24 09:30] martpie commented on #120
That said, this is an interesting problem, I am not sure if this is in scope of this plug-in, but I'd be curious to know how you managed to fix it.

[2020-09-24 09:31] martpie commented on #113
Hello there, sorry for the late reply.

If you include this image directly in a folder in your Next.js app, does it work? In other words, are you sure it's a problem with `next-transpile-modules` and not your new Webpack rule?

[2020-09-24 09:41] eric-burel commented on #120
Public runtime config can be problematic in Next as you lose the serverless target and they are not really recommended, I need to keep the code as generic/"raw Next" as possible. I am not fond of Next config system anyway, I don't see the point of making it runtime only, I would rather use `node-config` (I come from Meteor where you use a file based config system).

By call to debug I mean more pr

[2020-09-24 09:46] martpie commented on #120
Ah, I see. A debug mode could be interesting, but it will be really verbose in the console (you'll have thousands of modules displayed).

What I could is only list the modules that are transpiled. Any preferences?

Yes and no. What the plugin does is tell Webpack/Babel to not ignore some directories in `node_modules` when transpiling files (it's ignored by default for obvious performances reasons)

[2020-09-24 09:52] Dammic commented on #119
I can add from myself that I've ended up using https://github.com/suren-atoyan/monaco-react , which doesn't require all this hacking and works out of the box for me.

[2020-09-24 09:55] eric-burel commented on #120
Thanks! Yeah that's what I though, just displaying the transpiled modules specified in the options, that are actually found by your plugin. I didn't dig the code that much to be fair, as I have a workaround for now, we don't expect an usage at scale of those Next packages until a few months.

[2020-09-24 12:50] agentlewis commented on #118
@elchung Could you reference the other issue please so those of us finding this thread can see what you worked out - thanks

[2020-09-24 15:28] jsakas commented on #119
@Dammic I appreciate the suggestion! I ultimately decided to move away from NextJS out of frustration that it cannot even handle the basic functionality of Webpack (in which it is built on) without a ton of headache and ultimately what I would consider to be a hack.

[2020-09-24 16:19] martpie commented on #119
Out of curiosity, what was your final choice?

[2020-09-24 18:23] jsakas commented on #119
@martpie in this case it was a static site, so I went with my own Webpack config and used Netlify's prerender function to get everything in the DOM on the initial load for SEO.

[2020-09-25 20:27] kylemh opened #121 "Instructions on properly shipping code to NPM for a module consumed by this dependency"
**Is your feature request related to a problem? Please describe.**
I'm not sure how I need to build my packages to ensure that they work properly with this dependency. I would love if my output targets and the needed keys in `package.json` were outlined, cuz modules are hard.

**Describe the solution you'd like**
I _THINK_ that I need to build and ship ESM via the `modules` key in `package.json` f

[2020-09-26 02:20] elchung commented on #118
#67 Yup, sorry about that. I fixed the original modules.map is not a function issue based on comments from this issue.

[2020-09-27 21:12] michaelyuen commented on #121
Modules _are_ hard.

In this case, we only need to consider two types, so the problem is somewhat easier. Those two types are cjs (commonjs) and esm (ecmascript / javascript modules). I have found [this 2ality post](https://2ality.com/2017/04/setting-up-multi-platform-packages.html) a great resource for wrapping my head around it.

From what you are saying, I think you're on the right track:
- shi

[2020-09-27 22:32] kylemh commented on #121
Thanks for the answer! Assuming I have the next bundle analyzer integrated, my guess for confirming this is correct would be to adjust my `.browserslistrc` to ensure that the bundle adjusts in size per build if I only change that from... say... IE11 to latest Chrome.

Is there an easier way?

[2020-09-28 03:18] michaelyuen commented on #121
You're welcome! Let me preface by saying I don't know nextjs in-depth, so my comments in this regard are more generalized.

I played around a bit with different browserslist configurations and I didn't see any meaningful differences. That could simply be because I did something wrong. 🤷‍♂️

The primary goal for consuming ESM is that they can be tree-shaken. So as you alluded to, the meaningful dif

[2020-09-28 09:05] martpie commented on #121
I'd need more information to understand what are your requirements, but more generally, this is something I would advice against (especially publishing, go for a monorepo instead if you can). This plugin is a Next.js hack, so use as much of `commonjs` as possible.

Now, let's assume you absolutely want to do that (really, don't), this plugin will transpile any code with the same Babel/Webpack conf

[2020-09-28 09:05] #121 closed

[2020-09-28 09:08] martpie commented on #118
Does it work with the latest stable of Next.js? Do you have a longer log? Do you have reproduction steps? It seems you are trying to transpile some ESM code from `node_modules` and it does not go through this plugin.

[2020-09-28 15:49] kylemh commented on #121
My question is mainly how to get my packages into a shape where they can be properly consumed by this library.

[2020-09-28 16:19] martpie commented on #121
I don't think it's in the scope of this project to tell people how to structure their `package.json` files to publish packages: publishing packages is universal and works the same everywhere: the `main` field is the entrypoint of the package, the optional `files` key list the files that gets included in your tar file, and that's about it. Nothing specific with the scope of `next-transpile-modules`

[2020-09-28 16:22] michaelyuen commented on #121
I am curious and would like to ask if you could expand on this further:

Is this comment more directed at the "Next.js hack" part? Because transpiling and tree-shaking ESM is meaningful, so maybe I'm misunderstanding?

[2020-09-28 16:32] kylemh commented on #121
I guess I was just curious if we need to ship CJS or ESM for this library to be able to properly target the dependency for transpilation.

[2020-09-28 18:26] martpie commented on #121
By hack, I mean this plugin modifies the Webpack configuration provided by Next.js, and we do weird operations on it to disallow some limitations that come with it (like `node_modules` being ignored by Babel, etc). It is a functional, non-clean solution, to a real problem. This is what I meant by "hack" ;)

[2020-09-28 18:27] martpie commented on #121
If you ship CJS, you don't need this plugin ;)

[2020-09-28 18:48] kylemh commented on #121
I have different apps that have different browserslist targets. I have one library used in all of the apps that I DONT want to ship CJS such that each app can transpile to their needs. Does that context help? Thanks for bearing with me.

[2020-09-30 02:57] michaelyuen commented on #121
Makes sense. Then you'll want to ship ESM.

They should ship in ESM format - import & export.

[2020-09-30 06:06] kylemh commented on #121
I'm going to be acting on your advice for sure! Just tryna convey the thought to @martpie in case there's room for a PR to be made in this repo on this matter, but no worries if not!

[2020-09-30 06:19] martpie commented on #121
I did not think about the browserlist thing, I usually use the default polyfills + import some manually when needed. I'll need to think a bit about it.

[2020-10-01 04:51] johmike opened #122 "importing .css from node_modules from within a @shared/ui package"
I have a monorepo with several packages. In my `@shared/ui` package I created a Button that uses a 3rd party library which requires importing css from @shared/ui/node_modules.

I have been following [this issue](https://github.com/vercel/next.js/issues/12079) which fixes importing from node_modules WITHIN the `next/` folder. However my @shared/ui package is a few levels above `/next`.

I can manua

[2020-10-01 06:04] martpie commented on #122
Hello there 👋 this is a known limitation, and I would even say it's a feature:

- a limitation because there is no way for this plugin to detect who requires what: let's say you need to transpile A, and A and B requires C, which is also ESM. A requires C, and B requires C: what happens? Do I transpile C when only "coming from A"? Etc etc, you see the issue.
- a feature, because a module not shippi

[2020-10-01 06:11] johmike commented on #122
Thank you, appreciate that. Is there a workaround? I am trying to use the https://rmwc.io/ library in a shared component package. I am looking to ADD next to the existing monorepo.  If this was a new project I could just add the component in the /next directory and all would be well.  :)

[2020-10-02 16:03] martpie commented on #122
Sidenote: if you build your UI library and publish it (in CJS), and consume this UI library via npm or a private package manager, you don't need `next-transpile-modules` ;)

[2020-10-06 10:05] martpie commented on #121
@kylemh can you show me your Babel config?

[2020-10-06 18:58] kylemh commented on #121
[code]

Next.js's babel config: https://github.com/vercel/next.js/blob/canary/packages/next/build/babel/preset.ts

[2020-10-06 19:06] martpie commented on #121
In the FAQ https://github.com/martpie/next-transpile-modules#i-have-trouble-with-transpilation-and-my-custom-babelrc

[2020-10-06 19:13] kylemh commented on #121
Are you saying that next.js app's can load the babel config from `babel.config.js` too, not just `.babelrc`?

[2020-10-11 08:10] ScriptedAlchemy commented on #115
Webpack 5 was released this morning. Your plugin works but I think it still has hmr issues last I checked. Been using a fork since issue raised. If not already addressed, can we look at fixing the regex patterns?

[2020-10-11 09:54] martpie commented on #115
Hello there! Yep I saw that yesterday. I started migrating side projects to understand better the underlying changes.

Next.js 9.6 should be our fairly soon so I will have a look at that soon :)

[2020-10-13 15:26] ScriptedAlchemy commented on #115
Excellent. My fork and I think your package has one issue I discovered yesterday when upgrading a big codebase. I'll patch the fork and open a PR.

Lmk if you need anything

[2020-10-20 08:27] FrancisLeigh opened #127 "React Native Web: Cannot use import statement outside a module. AccessibilityInfo"
- [x] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE
- [ ] I WILL GIVE 10$ TO CHARITY IF MY SOLUTION WAS ACTUALLY IN THE FAQ

**Are you trying to transpile a local package or an npm package?**
npm[ package](https://www.npmjs.com/package/maisonsport-common-ui)

**Describe the bug**
With a fresh `next-with-react-native-web` Project

[2020-10-22 14:22] jamieowen opened #128 "Problem working with experimental decorators."
- [X] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE
- [X] I WILL GIVE 10$ TO CHARITY IF MY SOLUTION WAS ACTUALLY IN THE FAQ

**Are you trying to transpile a local package or an npm package?**
If an npm package, which one?
A local one. in a yarn workspaces style setup.

**Describe the bug**
I'm having a problem getting decorators

[2020-10-22 14:59] martpie commented on #128
Please use the default issue templates 👍

[2020-10-22 15:32] jamieowen commented on #128
apologies!.. updated.. let me dig into this some more!

[2020-10-23 14:59] jamieowen commented on #128
Hey @martpie, so probably ok to close this.
Was related to #101, using absolute paths with scoped packages.

Not the most fun to debug.  I did have this fix in but changed it - as the decorators were not actually the problem, another webpack warning seemed to be causing the babel transform to fail.

Fun times...

Thanks for maintaining this plugin anyway.
Has Next.js/Vercel ever mentioned supporti

[2020-10-23 14:59] #128 closed

[2020-10-23 15:02] martpie commented on #128
Ah I see, maybe I should add a note about scoped packages in the README 👍

Regarding the "native" support of transpiling modules, I have no news from the Next.js team. I know that they know this plugin is extremely popular (35% of Next.js users uses it), and they sometimes open issues to tell me of potential new features/changes 😄

I think they are happy to not have to maintain it, but I also beli

[2020-10-26 16:37] gtodd876 opened #129 "Trouble migrating 2.3.1 -> 4.1.0 in Next 9.5.3 project"
I've been debugging through v.4 of next-transpile-modules as compared to v.2.3.1 and I've found out that if I use the `includes` regex from version 2.3.1 in version 4.1.0 then it will transpile my js with babel otherwise it will not with the newer version 4 regex.
Here's how the regex looks different between the two versions:
[code]
... If I use v.4 without modifying the package with the `includes

[2020-10-26 16:53] martpie commented on #129
Please use the default issue template.

[2020-10-26 17:18] #129 closed

[2020-10-26 21:34] omariosouto opened #130 "SSR CSS Not being rendered | [NextJS + Styled Components + Storybook error]"
- [X] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE
- [X] I WILL GIVE 10$ TO CHARITY IF MY SOLUTION WAS ACTUALLY IN THE FAQ

**Are you trying to transpile a local package or an npm package?** Local Package

**Describe the bug**
- If I follow the FAQ to solve the [**"Invalid hook call"**](https://github.com/martpie/next-transpile

[2020-10-26 23:10] martpie commented on #130
It looks quite similar to the discussion here: https://github.com/martpie/next-transpile-modules/issues/101#issuecomment-671490301

Can you try that? I think there is an issue with the scoped packages, can you maybe try with `@org`?

[2020-10-27 07:09] ukarlsson commented on #75
I was able to get it working using the following hack that seems more general than the have proposed above by @andrewmclagan

[code]
Is this something we could include in next-transpile-modules?

[2020-10-27 09:56] borekb commented on #75
@ukarlsson @andrewmclagan is this something you use instead of next-transpile-modules, or together with it?

[2020-10-27 10:01] martpie commented on #75
@ukarlsson thank you for diving into it and providing a solution! There is #115 where I try to keep track of all the things I would like to do for `next-transpile-modules` :)

[2020-10-27 12:28] omariosouto commented on #130
@martpie I did what you said and it worked!

But, I was checking and seems that there's some issue when I'm trying to use storybook with react 17 in my project. Even being a devDependency, they are related in some way

[2020-10-27 12:54] martpie commented on #130
Thank you very much for confirming it, it's something I definitely need to fix on my side, but at least you have a workaround in the meantime!

I'm also using a Styleguide w/ Storybook + adjacent Next.js app, and I don't have this issue, make sure you have the correct `peerDependencies`, `dependencies` and `devDependencies`

[2020-10-27 12:59] omariosouto commented on #130
@martpie take a look into this one: https://github.com/omariosouto/ex3/

It works well, but when I update the react version everything breaks.

With the old react version, I don't even need the webpack solution:
https://github.com/omariosouto/ex3/blob/master/packages/site/next.config.js#L15

I was wondering if maybe yarn resolutions could solve something...

[2020-10-27 13:00] omariosouto commented on #130
Maybe you could bring it as an example of usage of the library :) I believe that many people are trying to use like this

[2020-10-27 13:07] martpie commented on #130
With yarn workspaces, what is especially important is that the React version your different packages resolve to the same version. So if you use React 17 in your consumer app, also use React 17 in your component library, so Yarn can resolve both version to 17 and will only install React once and at the root `node_modules`.

Otherwise you will end-up having two versions of React (16 and 17), and you

[2020-10-27 15:45] ukarlsson commented on #75
@borekb I use it instead of next-transpile-modules, just putting that directly into `next.config.js`.

[2020-10-27 16:01] martpie commented on #75
Note that hot-reloading will probably not work ;) (that's also one the things `next-transpile-modules` is trying to solve)

[2020-10-27 16:02] martpie commented on #75
Sidenote: It looks like the solution provided by @ukarlsson transpiles ALL the depedencies, which must be quite bad for build performances, so I'd recommend to restrict it to your packages only ;)

[2020-10-27 16:04] martpie opened #131 "Next.js 10"
- [x] ~Did it break?~ doesn't look like it
- [x] ~If not, well, support it~

-> see the changes https://nextjs.org/blog/next-10

Related to #115

[2020-10-27 16:57] #131 closed

[2020-10-27 16:57] martpie commented on #131
Nothing to declare, everything appears to still work fine.

[2020-10-31 14:56] ukarlsson commented on #75
The idea with the solution I provided above was to exclude the dependencies handled by Yarn, therefore it includes aforementioned `.yarn/cache` etc :)

[2020-11-01 21:36] borekb opened #133 "What's the workflow for published (compiled / built) modules?"
We've been happy users of next-transpile-modules for a long time but it has always been in private monorepos only, with Yarn workspaces. Now we're going to publish some of our packages (libraries) to npm and I'm wondering if that isn't at odds with this module.

For example, our `lib` currently doesn't specify a `main` field in its `package.json` and we just consumed its `index.ts` (TypeScript fil

[2020-11-01 23:30] martpie commented on #133
If you are importing common JS/a build library, you don't need this library.
If you are importing ES modules/TypeScript/anything not transpiled, you need this library.

Publishing is not part of the scope of this plugin, you will have to define your `main` fields, packaging etc by yourself.

[2020-11-01 23:30] #133 closed

[2020-11-02 00:08] martpie commented on #133
FYI, I'm having a similar setup on one project, what I ended up doing is:

`import { Button } from 'styleguide'` and `import { Button } from 'styleguide/cjs'` to disctinct the two. The first one is using `next-transpile-modules`, the other one is not.

[2020-11-02 08:03] borekb commented on #133
Right, so two imports. I was wondering whether it's somehow possible to have a single import and use next-transpile-modules during development and built/compiled modules during production deployment, but that's not possible. Hmm, this will be a tough decision.

[2020-11-02 09:06] martpie commented on #133
I did not investigate two much this way, but tweaking the `resolve` configuration may work. Something like "if you require `styleguide`", require `styleguide/cjs` instead. I am not sure if it's really better.

[2020-11-02 09:18] borekb commented on #133
Interesting, any example of how / where this would be done? I've never really messed with `resolve` and think it's a dangerous thing because e.g. Yarn PnP patches it as well but maybe it's one of the few options we have.

Like, for local development, we really don't want to lose the elegance of next-transpile-modules, so much so we're even considering publishing raw TypeScript to npm and force use

[2020-11-02 10:27] SpyTec opened #134 "CSS imports in node_module deps triggers NextJS CSS global error"
- [x] I HAVE READ [THE FAQ](https://github.com/martpie/next-transpile-modules#faq) AND MY PROBLEM WAS NOT DESCRIBED THERE
- [x] I WILL GIVE 10$ TO CHARITY IF MY SOLUTION WAS ACTUALLY IN THE FAQ

**Are you trying to transpile a local package or an npm package?**
npm package: `@patternfly/react-core`

**Describe the bug**
`next.config.js`
[code]

[code]

**To Reproduce**
Steps to reproduce the behav

[2020-11-02 10:48] martpie commented on #134
Can you try with `const withTM = require("next-transpile-modules")(['@patternfly']);` only and tell me if it works?

[2020-11-02 11:23] SpyTec commented on #134
Just tried it, gives the same global CSS error

[2020-11-02 12:09] martpie commented on #134
I have tests that are supposed to handle this case: https://github.com/martpie/next-transpile-modules/tree/master/src/__tests__/__apps__/_shared-ui/components

do you see any difference between that and your setup?

[2020-11-02 12:42] SpyTec commented on #134
I see two differences, PatternFly doesn't import CSS as modules - instead it's plain CSS imports

Second thing is that it's not a package in node_modules, which the issue I encounter happens in. For example when I `import { Button } from '@patternfly/react-core'` in my code, the CSS import that happens will be in the Button component in the PatternFly dependency in node_module

[2020-11-02 13:11] martpie commented on #134
Ah, I see I got it.

I don't think it's possible to do it the way you want. `next-transpile-modules` really apply the same rules as the default Next.js config. So imported CSS from your components will be considered CSS modules.

That said, in Next.js 10, there is this: https://nextjs.org/blog/next-10#importing-css-from-third-party-react-components, which should solve your usecase, no?

[2020-11-02 13:13] martpie commented on #134
For your usecase, I think you should just aggregate all CSS files in one (via imports for example), and just import the whole aggregation once in _app

[2020-11-02 13:26] SpyTec commented on #134
I see, thanks.

That feature in Next 10 is only for importing CSS from third-party dependencies, won't work in my case as those dependencies are the ones importing the CSS. I was trying to expand the Next webpack rules to use `null-loader` with PatternFly's CSS imports but had no luck

[2020-11-02 13:26] #134 closed

[2020-11-02 14:19] martpie commented on #134
If you find a solution to your problem, I'd be interested to know how you fixed it! :) good luck!

[2020-11-02 23:58] nandorojo commented on #97
I'm seeing this issue with `4.1.0` and `next` 10, is there anyone I should try besides upgrading?

[2020-11-03 00:31] nandorojo commented on #97
It seems like the problem might be coming from Webpack 5. I don't know my way around Webpack at all, but I'll mention here if I find a solution.

[2020-11-03 20:14] jdfm commented on #101
Our team was running into this issue recently as well.

If your `next-transpile-modules` config used something that looked like `@alias/core` changing it to be `path/to/actual/core` seems to fix it. In our case, we had a set up that looked like:

[code]

This would point to a folder in our repo that had a `package.json` file with the package name `@alias/core`, and in our tsconfig we had a paths s

[2020-11-03 21:07] martpie commented on #101
I will try to investigate this issue this week guys. I may have time to land a hotfix before #132 lands

[2020-11-04 08:15] borekb commented on #75
@martpie do you think that supporting PnP is a relatively large overall change in the source code, or do you think it's a small fix somewhere? I'd be willing to look at it closer but would like to know what I'm subscribing for 😄.

[2020-11-04 08:21] martpie commented on #75
It really depends where are the modules located? In node_modules or not? How? Are their paths explicit or hashed? Etc etc...

That said, I am thinking about not doing path matching via regex anymore, but matching by classic module resolution. Which should solve the issue, but it's a big breaking change.

[2020-11-04 08:22] martpie commented on #75
But stay tuned, it is something I'm working on right now. I just have no ETA ;)

[2020-11-04 08:33] borekb commented on #75
Cool! (In PnP, there's no node_modules.)

Out of curiosity, have you been somehow in touch with the Next.js team about this? https://github.com/vercel/next.js/issues/706 is actually their most upvoted issue currently, and in principle it would be nice if they guaranteed that the transpilation works after every release, is compatible with various supported webpack versions, installation strategies

[2020-11-04 10:09] martpie commented on #75
well, then there's the issues 😄 how do modules get resolved then? 🤔

Yes, I am in touch from time to time with Tim from Vercel (or sometimes Joe opens issues on this repo). There is no ETA, but this is something that will come for sure in the future.

But they are definitely aware of the issue. `next-transpile-modules` is probably the most installed Next.js plugin right now (36% of Next.js users u

[2020-11-04 10:10] martpie commented on #75
Reference for myself:

https://classic.yarnpkg.com/en/docs/pnp/

[2020-11-04 10:16] borekb commented on #75
Yep, as you already described above.

In our app, when we use PnP and scoped packages, the error during `next build` looks like this:

[code]

I.e., there are various `.yarn/$$virtual` paths.

[2020-11-04 10:17] borekb commented on #75
Wow 😲 that a lot. Congrats I guess?! 😄

[2020-11-04 17:51] martpie commented on #36
I've added integration tests for pnpm 5 and everything is passing fine, so I guess this can be closed.

If the issue is still present, please submit a failing test 🙏

[2020-11-04 17:51] #36 closed

[2020-11-09 17:56] martpie commented on #90
Should be fixed in #132

[2020-11-09 17:56] #90 closed

[2020-11-09 17:57] martpie commented on #101
Should hopefully be fixed in #132 if anyone has the courage to test the branch 😄

[2020-11-09 17:59] martpie commented on #112
I will tackle this for #132. How the code works has been quite changed (in a good way I believe). Feel free to submit a PR targeting that branch, otherwise I will inspire myself from your work 🙌

[2020-11-10 13:42] martpie commented on #75
Hello there! 👋

Could someone test `npm install martpie/next-transpile-modules#nextjs-10 --save` and tell me if it works fine with Yarn 2?

[2020-11-11 16:21] borekb commented on #75
@martpie I tried the branch. BTW, this seems to be the correct command, at least for Yarn 2:

[code]

It produces this error:

[code]

[2020-11-11 16:55] martpie commented on #75
Thank you very much 🙌 I've fixed it, could you try again? 😄

[2020-11-12 08:18] borekb commented on #75
This time, I get this:

[code]

Do you have a PnP project you're testing it on? Maybe it's somehow different but I think our Yarn workspaces setup is pretty standard.

[2020-11-12 09:30] martpie commented on #75
Thank you very much for helping me testing this.

I will setup a local project in order to debug that. I tried to do test automation, but berry does not like to find `package.json` up in the tree :(

I'll keep you in touch

[2020-11-12 09:37] borekb commented on #75
I'd be happy to prepare a public repo for you but if you're already on it, maybe no need?! Let me know if I can help.

[2020-11-12 10:50] martpie commented on #75
Can you confirm that using ntm directly in your project (without using it from `yarn add next-transpile-modules`) will make everything work fine?

https://raw.githubusercontent.com/martpie/next-transpile-modules/nextjs-10/src/next-transpile-modules.js

[code]